.hp-posts {
  &__title {
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    font-family: var(--font-display);
    color: var(--color-accent);
    font-size: clamp(32px, 21vw, 328px);
    line-height: 55%;
    letter-spacing: -0.02em;
    text-align: center;
    white-space: nowrap;
  }
  &__inner {
    position: relative;
  }
  &__slider {
    overflow: visible;
    max-width: 940px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    @include media-breakpoint-down(sm) {
      padding: 0 12px;
    }
  }
  &__btn {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: var(--color-bg-secondary);
    border: 4px solid var(--color-light);
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
    transition: all 0.2s;
    @include media-breakpoint-down(md) {
      display: none;
    }
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__btn.prev {
    left: -4px;
    @include media-breakpoint-down(xl) {
      left: -12px;
    }
    svg {
      transform: rotate(90deg);
    }
  }
  &__btn.next {
    right: -84px;
    @include media-breakpoint-down(xl) {
      right: -12px;
    }
    svg {
      transform: rotate(-90deg);
    }
  }
}

.hp-posts__item {
  position: relative;
  display: block;
  border-radius: 16px;
  aspect-ratio: 660/340;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0px 20px 40px 0px #00000033;
  @include media-breakpoint-down(md) {
    aspect-ratio: 4/3 !important;
  }
  &:hover img {
    transform: scale(1.05);
  }
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 58, 180, 0.7) 100%
    );

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  &-content {
    position: absolute;
    padding: 0 32px 32px 32px;
    bottom: 0;
    left: 0;
    max-width: 600px;
    z-index: 2;
    @include media-breakpoint-down(md) {
      padding: 0 24px 24px 24px;
    }
    .h3 {
      line-height: 40px;
      @include media-breakpoint-down(sm) {
        font-size: 1.5rem;
        line-height: 26px;
      }
    }
  }
}

.hp-posts .swiper-slide {
  transition: 0.45s ease;
  transform: scale(1);
  opacity: 0.6;
  filter: blur(2px) brightness(0.8);
  .hp-posts__item {
    @include media-breakpoint-down(xl) {
      height: 90%;
    }
  }
}

.hp-posts .swiper-slide.swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
  filter: none;
  padding: 0 40px;
  .hp-posts__item {
    aspect-ratio: 920/535;
  }
  @include media-breakpoint-down(xl) {
    transform: none;
    padding: 0;
  }
}
