<div class="player-section">
  <div class="headerPage">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Slovan Bratislava</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Soupiska</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Jan Novak</li>
      </ol>
    </nav>

    <div class="player-section__img">
      <img
        class="object-fit-cover rounded-100"
        src="images/content/ava.png"
        width="96"
        height="96"
        alt="avatar"
      />
      <div class="player-section__img-logo">
        <img
          class="object-fit-contain"
          width="16"
          height="16"
          src="images/ico/slovan-bratislava.svg"
          alt="team logo"
        />
      </div>
    </div>
    <h1 class="h2 titleDot text-center mb-4">Jan Novák</h1>
    <div
      class="text-stroke text-sm-semibold font-title font-italic text-uppercase"
    >
      Slovan Bratislava
    </div>
    <div class="d-flex justify-content-center align-items-center gap-2 mt-2">
      <div class="text-sm-medium text-secondary">Útočník</div>
      <div class="text-xxs-regular text-gray">/</div>
      <div class="text-sm-medium text-secondary">17.05.2000</div>
      <div class="text-xxs-regular text-gray">/</div>
      <div class="text-sm-medium text-secondary">25 let</div>
    </div>
  </div>
</div>
