<section class="article-section pb-lg-14 pb-8 pt-lg-6">
  <div class="container-sm">
    <div class="article-section__top">
      <picture>
        <source
          media="(min-width: 1024px)"
          srcset="https://picsum.photos/1368/912"
          width="1440"
          height="810"
        />
        <img
          src="https://picsum.photos/684/456"
          class="h-100 w-100 object-fit-cover"
          loading="lazy"
          width="639"
          height="426"
          alt=""
        />
      </picture>
      <div
        class="d-flex z-index-2 gap-4 flex-wrap align-items-center position-absolute start-16 bottom-16"
      >
        <div class="tag">Reprezentacia</div>
        <div
          class="d-flex align-items-center gap-2 text-xxs-regular text-inverse"
        >
          <div>25. 04. 2025</div>
          <span class="dot">•</span>
          <div>Karel Novotný</div>
        </div>
      </div>
    </div>
    <h1 class="h2 mb-lg-10 mb-6">
      Víťazstvo Michaloviec smerom k semifinálovému derby
    </h1>
    <div class="text-secondary text-md-bold mb-md-10 mb-6">
      Medzi nimi je aj Christian Badalov, ktorý nám zhrnul obe vystúpenia tímu v
      novej sezóne. V prvom triumfovali zverenci Jaroslava Šalku na pôde
      Považskej Bystrici 5:3, v druhom zdolali doma Pruské 7:4. „V Považskej
      Bystrici to bol veľmi náročný zápas pre obe mužstvá, keďže to bolo prvé
      kolo a nevedeli sme, ako na tom sme. Ale myslím si, že po nie úplne dobrej
      príprave sme ho zvládli veľmi slušne a dokázali sme zvíťaziť.“
    </div>
    <div class="o-content">
      <p>
        V druhom zápase bral kouč LG iba výsledok a body, ale hru tímu podrobil
        kritike. „Vedeli sme, že nás nečaká nič ľahké. Prušťanom sa vrátilo do
        tímu viacero chalanov, takže sme nechceli nič podceniť. Pruské má vždy
        v zápasoch proti nám veľmi dobrý úvod, takže sme si povedali, že
        nemôžeme zaspať prvú tretinu, na čo sa nám podarilo dať za 4 minúty 4
        góly, takže si myslím, že ten zápas sa už viac menej iba dohrával. Možno
        sme sa trochu uspokojili, preto aj tá kritika od trénera, v ďalších
        zápasoch si na to musíme dať pozor a byť neustále koncentrovaní,“ dodal
        Badalov.
      </p>
      <p>
        Mladý útočník spomenul nie príliš ideálnu prípravu a preto je pre tím
        dobré, že sa po dvoch kolách usadil na čele tabuľky. „Môžeme byť zatiaľ
        spokojní s týmto postavením. Od začiatku dávajú tréneri opäť viac
        priestoru mladým hráčom, ale liga je dlhá a dôležité zápasy sa začnú v
        play off,“ uviedol 21-ročný krídelník.
      </p>
      <p>
        Napriek šiestim bodom si však Badalov uvedomuje, že nie je všetko úplne
        ideálne: „Máme stále na čom pracovať, keďže letná príprava nebola z
        môjho pohľadu úplne ideálna. Musíme zlepšiť aj presilové hry, lebo
        osobne mám pocit, že minulú sezónu sme ich hrali oveľa lepšie. Ale v
        oboch zápasoch sme ukázali, že každý jeden hráč chce bojovať za LG a to
        je dobré.“
      </p>
      <hr />
      <h6>Historie</h6>
      <h5>Hráčska brilancia a vášeň pre hokej</h5>
      <ul>
        <li>Na výsadbu tak půjde jeden milion korun</li>
        <li>Na výsadbu tak půjde</li>
        <li>Na výsadbu tak půjde jeden milion korun</li>
        <li>Na výsadbu tak půjde</li>
        <li>Na výsadbu tak půjde jeden milion korun</li>
        <li>Na výsadbu tak půjde</li>
      </ul>
      <hr />
      <p>
        Tréner LG si je vedomý, že kľúčové bude udržať tímovú morálku a
        sústredenie. „Musíme sa pripravovať na každý zápas rovnako, aby sme sa
        vyhli prekvapeniam. Je dôležité, aby sa všetci hráči cítili súčasťou
        tímu a vedeli, že ich výkon môže rozhodnúť o výsledku,“ povedal po
        tréningu.
      </p>
      <p>
        Na druhej strane, rivalita s Prušťanmi sa v posledných rokoch vyostruje.
        „Každý zápas proti nim je výnimočný. Majú silný tím a my musíme byť
        pripravení na ich agresívnu hru. Chceme sa ukázať vo svojej najlepšej
        forme, aby sme potvrdili naše postavenie v tabuľke,“ dodal Badalov.
      </p>
      <p>
        Napriek šiestim bodom si však Badalov uvedomuje, že nie je všetko úplne
        ideálne: „Máme stále na čom pracovať, keďže letná príprava nebola z
        môjho pohľadu úplne ideálna. Musíme zlepšiť aj presilové hry, lebo
        osobne mám pocit, že minulú sezónu sme ich hrali oveľa lepšie. Ale v
        oboch zápasoch sme ukázali, že každý jeden hráč chce bojovať za LG a to
        je dobré.“
      </p>
      <img
        class="rounded-16 object-fit-cover w-100"
        src="https://picsum.photos/684/464"
        loading="lazy"
        alt=""
      />
      <p>
        Pred nadchádzajúcim zápasom sa tím LG zameriava na zlepšenie tímovej
        súhry a komunikácie na ľade. „Práca na detailoch je kľúčová. Musíme sa
        uistiť, že si rozumieme a dokážeme reagovať na situácie, ktoré sa na
        ľade dejú. Verím, že čím viac budeme spolu, tým lepšie budeme hrať,“
        vyjadril sa tréner LG.
      </p>
      <p>
        Každý hráč si uvedomuje, že úspech závisí aj od ich osobného výkonu.
        „Musíme sa sústrediť na to, čo môžeme zlepšiť a nesústreďovať sa len na
        víťazstvá. Dôležité sú aj jednotlivé aspekty, ako je technika a taktika,
        aby sme mohli byť konkurencieschopní,“ povedal Badalov.
      </p>
      <p>
        Súčasná atmosféra v tíme je pozitívna, ale s vedomím, že konkurencia je
        silná, je potrebné pokračovať v práci. „Je to dlhá sezóna a všetci
        vieme, že musíme byť pripravení na akékoľvek výzvy, ktoré nás čakajú,“
        dodal Badalov.
      </p>
    </div>
    {% include "@components/gallery/gallery.twig" %}
  </div>
</section>
