.article-section {
  &__top {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 24px;
    }
    &::before {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 69.08%,
        rgba(0, 0, 0, 0.3) 100%
      );
    }
  }
}
.article-img {
  width: 100%;
  height: auto;
  margin: 40px 0;
  overflow: hidden;
  border-radius: 16px;
  @include media-breakpoint-down(lg) {
    margin: 24px 0;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
