.matchesSlider {
  position: relative;
  overflow: visible;
  .swiper-slide {
    display: flex;
    width: 300px !important;
    display: flex !important;
    height: auto !important;
    @include media-breakpoint-down(sm) {
      width: 100% !important;
    }
  }
  .cardMatch {
    box-sizing: border-box;
  }
}
