[class^="postCard-"] {
}
.postCard-width,
.postCard-md,
.postCard-high {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  display: block;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  &::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &__content {
    position: absolute;
    color: var(--color-text-inverse);
    bottom: 24px;
    padding: 0 24px;
    z-index: 2;
    @include media-breakpoint-down(lg) {
      bottom: 20px;
    }
    @include media-breakpoint-down(md) {
      padding: 0 20px;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
.postCard-high {
  aspect-ratio: 400/600;
  @include media-breakpoint-down(lg) {
    aspect-ratio: 320/400;
  }
}
.postCard-md {
  aspect-ratio: 1/1;
}

.archive-section {
  .postCard-high {
    aspect-ratio: 478/600;
  }
}

.postCard-sm {
  &__img {
    border-radius: 16px;
    overflow: hidden;
    aspect-ratio: 459/286;
    width: 100%;
    position: relative;
    display: block;
    margin-bottom: 24px;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.2);
      z-index: 2;
    }
    &:hover {
      img {
        transform: scale(1.05);
      }
    }
    img {
      transition: all 0.3s;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__content {
    padding: 0 16px;
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
