<div class="postCard-sm">
  <a href="#" class="postCard-sm__img">
    <img
      srcset="https://picsum.photos/459/286"
      alt="post"
      width="459"
      height="286"
      loading="lazy"
    />
    <div
      class="d-flex gap-4 align-items-center position-absolute bottom-0 pb-6 px-6 z-index-2"
    >
      <div class="tag">Reprezentacia</div>
      <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
    </div>
  </a>

  <div class="postCard-sm__content">
    <a href="#" class="title mb-lg-4 mb-3 d-block hover-outline">
      Víťazstvo Michaloviec smerom k semifinálovému derby
    </a>
    <p class="text-sm-regular">
      Ve středečním zápase se rozhodlo o dalších semifinalistech. Potvrdil svou
      sílu a potřetí za sebou porazil tým z Bratislavy. Košické Lvi, které se po
      deseti letech nedostaly do semifinále, podlehly KP TANY Brno v sérii 0:3,
      což mnohé překvapilo. Semifinále tak opět přinese vzrušující městské
      derby.
    </p>
  </div>
</div>
