.breadcrumb {
  --bs-breadcrumb-font-size: 10px;
  --bs-breadcrumb-divider-color: #5c5c59;
  --bs-breadcrumb-item-active-color: var(--color-text-secondary);

  position: absolute;
  left: 0;
  top: 8px;
  @include media-breakpoint-down(lg) {
    top: 0;
  }
  &-item {
    a {
      color: var(--color-stroke);
      text-decoration-color: transparent;
      &:hover {
        text-decoration-color: inherit;
      }
    }
  }
}
