[class^="btn-"] {
  padding: 0 12px;
  border-radius: 56px;
  transition: all 0.2s;
  font-weight: 600;
  font-style: italic;
  font-family: var(--font-display);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  height: 36px;
  display: inline-flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  width: 222px;
}

.btn-primary {
  background: var(--color-accent);
  color: var(--color-light);
  &:hover {
    background: var(--color-brand);
  }
}
.btn-light {
  background: var(--color-light);
  color: var(--color-accent);
  border: 2px solid transparent;
  &:hover {
    border: 2px solid var(--color-accent);
  }
}
