.cardMatch {
  padding: 28px 24px 24px;
  border-radius: 6px;
  background: var(--color-bg-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.cardMatch > div:first-child {
  flex: 1 1 auto;
}
