.cardFame {
  text-decoration: none;
  position: relative;
  display: block;
  aspect-ratio: 330/320;
  border-radius: 16px;
  overflow: hidden;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 71.63%,
      #e2e8e9 100%
    );
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s;
  }
  .tag {
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
  }
  &__content {
    position: absolute;
    padding: 0 24px;
    width: 100%;
    bottom: 24px;
    z-index: 2;
  }
}
a.cardFame:hover {
  img {
    transform: scale(1.05);
  }
}
