.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 24px;
    letter-spacing: -0.01em;
  }
  h6 {
    color: var(--color-text-secondary);
    margin-bottom: 20px;
  }
  h5 {
    margin-bottom: 20px;
    letter-spacing: -0.01em;
  }
  ul {
    margin: 20px 0;
    > li {
      position: relative;
      padding-left: 14px;
      margin-bottom: 24px;
      letter-spacing: -0.01em;
      @include media-breakpoint-down(lg) {
        margin-bottom: 1rem;
      }
      &::before {
        content: "";
        background-color: var(--color-text-secondary);
        position: absolute;
        top: 8px;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 100%;
      }
    }
  }
}

hr {
  margin: 40px 0;
  border: 1px solid var(--color-text-secondary);
  opacity: 0.1;
  @include media-breakpoint-down(lg) {
    margin: 32px 0;
  }
}
