.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px !important;
  padding-right: 20px !important;
  width: 100%;
  max-width: 100% !important;
  @media (min-width: 1548px) {
    max-width: calc(96.2rem + 48px) !important;
  }
}
.container-sm {
  max-width: 48.8rem !important;
}
