.o-content {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 24px;
    letter-spacing: -0.01em;
  }
  h6 {
    color: var(--color-text-secondary);
    margin-bottom: 20px;
  }
  h5 {
    margin-bottom: 20px;
    letter-spacing: -0.01em;
  }
  .perex {
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 32px;
    }
  }
  ul {
    margin: 20px 0;
    > li {
      position: relative;
      padding-left: 14px;
      margin-bottom: 24px;
      letter-spacing: -0.01em;
      &:last-child {
        margin-bottom: 0;
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 1rem;
      }
      &::before {
        content: "";
        background-color: var(--color-text-secondary);
        position: absolute;
        top: 8px;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 100%;
      }
    }
  }
  img {
    margin: 40px 0;
    @include media-breakpoint-down(lg) {
      margin: 24px 0;
    }
  }
  ol {
    margin-bottom: 24px;
    letter-spacing: -0.01em;
    margin: 20px 0;
    counter-reset: item;

    > li {
      counter-increment: item;
      position: relative;
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
      @include media-breakpoint-down(lg) {
        margin-bottom: 1rem;
      }
      &::before {
        content: counter(item);
        color: var(--color-stroke);
        font-size: 20px;
        font-weight: 600;
        font-family: var(--font-title);
        margin-right: 8px;
      }
    }
  }
}

hr {
  margin: 40px 0;
  border: 1px solid var(--color-text-secondary);
  opacity: 0.1;
  @include media-breakpoint-down(lg) {
    margin: 32px 0;
  }
}
