.contactCard {
  width: 100%;
  aspect-ratio: 448/500;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 0.8) 71.63%,
      #e2e8e9 100%
    );
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__content {
    position: absolute;
    bottom: 24px;
    padding: 0 24px;
    width: 100%;
    z-index: 1;
  }
}
