.partnerItem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  height: 144px;
  border: 1px solid var(--color-text-inverse);
  transition: all 0.3s;
  &:hover {
    border: 1px solid var(--color-accent);
  }
  img {
    max-height: 100px;
    max-width: 80%;
    object-fit: contain;
  }
}
