.playerItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  &:hover .playerItem__img span {
    width: 100%;
    height: 100%;
    transform: translate(0, 0);
  }
  &__img {
    position: relative;
    width: 64px;
    height: 64px;
    border-radius: 100%;
    border: 3px solid var(--color-stroke);
    background: var(--color-bg-secondary);
    span {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      min-width: 30px;
      padding: 4px 6px;
      border-radius: 100%;
      background: var(--color-light);
      color: var(--color-stroke);
      font-family: var(--font-display);
      font-weight: 600;
      font-size: 20px;
      line-height: 22px;
      transform: translate(-33%, -35%);
      transition: all 0.2s;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
