.search {
  position: relative;
  max-width: 448px;
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  margin: 0 auto;
  button {
    position: absolute;
    left: 14px;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  input {
    width: 100%;
    padding-left: 38px;
    padding-right: 16px;
    background: var(--color-accent);
    border: 1px solid var(--color-light);
    border-radius: 48px;
    outline-color: var(--color-bg-secondary);
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: var(--color-text-inverse);
    height: 2.4rem;
    &::placeholder {
      color: var(--color-text-inverse);
      opacity: 0.6;
    }
  }
}

.search {
  input.text-secondary {
    outline-color: var(--color-stroke);
    &::placeholder {
      color: var(--color-text-secondary);
    }
  }
}

.sort {
  padding-left: 24px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration-color: transparent;
  font-size: 14px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.01em;
  &:hover {
    text-decoration-color: inherit;
  }
  &.active {
    img {
      transform: rotate(-180deg);
    }
  }
}
