.titleDot {
  position: relative;
  display: inline-block;
  align-items: center;
  &::after {
    content: "";
    border-radius: 100%;
    background: var(--color-stroke);
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
  }
}
.h2.titleDot {
  &::after {
    width: 12px;
    height: 12px;
    min-width: 12px;
    @include media-breakpoint-down(lg) {
      width: 10px;
      height: 10px;
      min-width: 10px;
    }
  }
}
.title.titleDot {
  &::after {
    width: 10px;
    height: 10px;
    min-width: 10px;
    @include media-breakpoint-down(lg) {
      width: 8px;
      height: 8px;
      min-width: 8px;
    }
  }
}
