.social {
  display: flex;
  align-items: center;
  gap: 16px;
  &-item {
    display: block;
    max-width: 24px;
    max-height: 24px;
    &:hover img {
      transform: scale(1.05);
    }
    img {
      transition: all 0.2s;
      object-fit: contain;
    }
  }
}
