<ul class="social">
  <li>
    <a href="#" target="_blank" class="social-item">
      <img
        width="17"
        height="16"
        src="images/content/facebook.png"
        alt="facebook"
      />
    </a>
  </li>
  <li>
    <a href="#" target="_blank" class="social-item">
      <img
        width="17"
        height="16"
        src="images/content/instagram.png"
        alt="instagram"
      />
    </a>
  </li>
  <li>
    <a href="#" target="_blank" class="social-item">
      <img
        width="24"
        height="16"
        src="images/content/youtube.png"
        alt="youtube"
      />
    </a>
  </li>
  <li>
    <a href="#" target="_blank" class="social-item">
      <img
        width="17"
        height="20"
        src="images/content/tiktok.png"
        alt="tiktok"
      />
    </a>
  </li>
  <li>
    <a href="#" target="_blank" class="social-item">
      <img width="24" height="24" src="images/ico/mic.svg" alt="mic" />
    </a>
  </li>
</ul>
