<div class="match-detail">
  <div class="container">
    <h2 class="title titleDot text-accent mb-lg-6 mb-4">Góly</h2>
    <div class="row g-6 mb-lg-10 mb-8">
      <div class="col-lg-6">
        <div class="table-responsive">
          <table class="table-stats">
            <colgroup>
              <col style="width: 84px" />
              <col style="width: 56px" />
              <col />
            </colgroup>
            <thead>
              <tr>
                <th>Čas</th>
                <th>Stav</th>
                <th>Jméno, asistence</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>14:34</td>
                <td>EQ</td>
                <td>
                  <div class="d-flex gap-4 align-items-center">
                    <a href="#">
                      <img
                        class="rounded-100 object-fit-cover"
                        width="40"
                        height="40"
                        src="images/content/ava.png"
                        alt="avatar"
                        loading="lazy"
                      />
                    </a>

                    <div class="text-accent">
                      <a href="#" class="text-md-bold hover-outline"
                        >Jan Novák</a
                      >
                      <div class="text-xs-medium">
                        Lhota Tomáš, Novák Jaroslav
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>EQ</td>
                <td>
                  <div class="d-flex gap-4 align-items-center">
                    <a href="#">
                      <img
                        class="rounded-100 object-fit-cover"
                        width="40"
                        height="40"
                        src="images/content/ava.png"
                        alt="avatar"
                        loading="lazy"
                      />
                    </a>

                    <div class="text-accent">
                      <a href="#" class="text-md-bold hover-outline"
                        >Jan Novák</a
                      >
                      <div class="text-xs-medium">
                        Lhota Tomáš, Novák Jaroslav
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="table-responsive">
          <table class="table-stats">
            <colgroup>
              <col style="width: 84px" />
              <col style="width: 56px" />
              <col />
            </colgroup>
            <thead>
              <tr>
                <th>Čas</th>
                <th>Stav</th>
                <th>Jméno, asistence</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>14:34</td>
                <td>EQ</td>
                <td>
                  <div class="d-flex gap-4 align-items-center">
                    <a href="#">
                      <img
                        class="rounded-100 object-fit-cover"
                        width="40"
                        height="40"
                        src="images/content/ava.png"
                        alt="avatar"
                        loading="lazy"
                      />
                    </a>

                    <div class="text-accent">
                      <a href="#" class="text-md-bold hover-outline"
                        >Jan Novák</a
                      >
                      <div class="text-xs-medium">
                        Lhota Tomáš, Novák Jaroslav
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>EQ</td>
                <td>
                  <div class="d-flex gap-4 align-items-center">
                    <a href="#">
                      <img
                        class="rounded-100 object-fit-cover"
                        width="40"
                        height="40"
                        src="images/content/ava.png"
                        alt="avatar"
                        loading="lazy"
                      />
                    </a>

                    <div class="text-accent">
                      <a href="#" class="text-md-bold hover-outline"
                        >Jan Novák</a
                      >
                      <div class="text-xs-medium">
                        Lhota Tomáš, Novák Jaroslav
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <h3 class="title titleDot text-accent mb-lg-6 mb-4">Tresty</h3>
    <div class="row g-6 mb-lg-10 mb-8">
      <div class="col-lg-6">
        <div class="table-responsive">
          <table class="table-stats">
            <colgroup>
              <col style="width: 84px" />
              <col />
              <col style="width: 56px" />
              <col style="width: 148px" />
            </colgroup>
            <thead>
              <tr>
                <th>Čas</th>
                <th>Vyloučení</th>
                <th>TM</th>
                <th>Provinění</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="table-responsive">
          <table class="table-stats">
            <colgroup>
              <col style="width: 84px" />
              <col />
              <col style="width: 56px" />
              <col style="width: 148px" />
            </colgroup>
            <thead>
              <tr>
                <th>Čas</th>
                <th>Vyloučení</th>
                <th>TM</th>
                <th>Provinění</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
              <tr>
                <td>14:34</td>
                <td>
                  <a class="text-md-bold text-accent hover-outline" href="#">
                    Jan Novák
                  </a>
                </td>
                <td>2</td>
                <td>Sekání</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <h4 class="title titleDot text-accent mb-lg-5 mb-4">statistiky</h4>
    <div class="mb-lg-10 mb-8 d-grid gap-6">
      <div class="statsGame">
        <div class="statsGame__infoline">
          <div class="statsGame__number">36</div>
          <div class="statsGame__line">
            <span style="width: 75%" class="statsGame__value"></span>
          </div>
        </div>
        <div class="statsGame__line-title">Střely na bránu</div>
        <div class="statsGame__infoline">
          <div class="statsGame__number">11</div>
          <div class="statsGame__line">
            <span style="width: 10%" class="statsGame__value"></span>
          </div>
        </div>
      </div>
      <div class="statsGame">
        <div class="statsGame__infoline">
          <div class="statsGame__number">3</div>
          <div class="statsGame__line">
            <span style="width: 25%" class="statsGame__value"></span>
          </div>
        </div>
        <div class="statsGame__line-title">Vyloučení</div>
        <div class="statsGame__infoline">
          <div class="statsGame__number">4</div>
          <div class="statsGame__line">
            <span style="width: 75%" class="statsGame__value"></span>
          </div>
        </div>
      </div>
      <div class="statsGame">
        <div class="statsGame__infoline">
          <div class="statsGame__number">4</div>
          <div class="statsGame__line">
            <span style="width: 100%" class="statsGame__value"></span>
          </div>
        </div>
        <div class="statsGame__line-title">Přesilovky</div>
        <div class="statsGame__infoline">
          <div class="statsGame__number">0</div>
          <div class="statsGame__line">
            <span style="width: 0%" class="statsGame__value"></span>
          </div>
        </div>
      </div>
      <div class="statsGame">
        <div class="statsGame__infoline">
          <div class="statsGame__number">0</div>
          <div class="statsGame__line">
            <span style="width: 0%" class="statsGame__value"></span>
          </div>
        </div>
        <div class="statsGame__line-title">Využití</div>
        <div class="statsGame__infoline">
          <div class="statsGame__number">1</div>
          <div class="statsGame__line">
            <span style="width: 100%" class="statsGame__value"></span>
          </div>
        </div>
      </div>
      <div class="statsGame">
        <div class="statsGame__infoline">
          <div class="statsGame__number">0</div>
          <div class="statsGame__line">
            <span style="width: 0%" class="statsGame__value"></span>
          </div>
        </div>
        <div class="statsGame__line-title">Oslabení</div>
        <div class="statsGame__infoline">
          <div class="statsGame__number">0</div>
          <div class="statsGame__line">
            <span style="width: 0%" class="statsGame__value"></span>
          </div>
        </div>
      </div>
    </div>

    <h5 class="title titleDot text-accent mb-lg-6 mb-4">Brankari</h5>

    <div class="row g-6 mb-lg-10 mb-8">
      <div class="col-lg-6">
        <div class="table-responsive">
          <table class="table-stats">
            <colgroup>
              <col style="width: 52px" />
              <col />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 60px" />
            </colgroup>
            <thead>
              <tr>
                <th>#</th>
                <th>Jméno</th>
                <td>Min</td>
                <td>Ink</td>
                <td>Zás</td>
                <td>A</td>
                <td>TM</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-2xl-semibold text-stroke font-title">30</td>
                <td>
                  <a
                    class="d-flex gap-4 align-items-center text-md-bold hover-outline text-accent"
                    href="#"
                  >
                    <img
                      class="rounded-100 object-fit-cover"
                      width="40"
                      height="40"
                      src="images/content/ava.png"
                      alt="avatar"
                      loading="lazy"
                    />
                    Jan Novák
                  </a>
                </td>
                <td>54</td>
                <td>1</td>
                <td>19</td>
                <td>0</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="text-2xl-semibold text-stroke font-title">45</td>
                <td>
                  <a
                    class="d-flex gap-4 align-items-center text-md-bold hover-outline text-accent"
                    href="#"
                  >
                    <img
                      class="rounded-100 object-fit-cover"
                      width="40"
                      height="40"
                      src="images/content/ava.png"
                      alt="avatar"
                      loading="lazy"
                    />
                    Jan Novák
                  </a>
                </td>
                <td>32</td>
                <td>6</td>
                <td>12</td>
                <td>1</td>
                <td>9</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="table-responsive">
          <table class="table-stats">
            <colgroup>
              <col style="width: 52px" />
              <col />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 60px" />
            </colgroup>
            <thead>
              <tr>
                <th>#</th>
                <th>Jméno</th>
                <td>Min</td>
                <td>Ink</td>
                <td>Zás</td>
                <td>A</td>
                <td>TM</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-2xl-semibold text-stroke font-title">30</td>
                <td>
                  <a
                    class="d-flex gap-4 align-items-center text-md-bold hover-outline text-accent"
                    href="#"
                  >
                    <img
                      class="rounded-100 object-fit-cover"
                      width="40"
                      height="40"
                      src="images/content/ava.png"
                      alt="avatar"
                      loading="lazy"
                    />
                    Jan Novák
                  </a>
                </td>
                <td>54</td>
                <td>1</td>
                <td>19</td>
                <td>0</td>
                <td>3</td>
              </tr>
              <tr>
                <td class="text-2xl-semibold text-stroke font-title">45</td>
                <td>
                  <a
                    class="d-flex gap-4 align-items-center text-md-bold hover-outline text-accent"
                    href="#"
                  >
                    <img
                      class="rounded-100 object-fit-cover"
                      width="40"
                      height="40"
                      src="images/content/ava.png"
                      alt="avatar"
                      loading="lazy"
                    />
                    Jan Novák
                  </a>
                </td>
                <td>32</td>
                <td>6</td>
                <td>12</td>
                <td>1</td>
                <td>9</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <h5 class="title titleDot text-accent mb-lg-6 mb-4">hraci v poli</h5>
    <div class="row g-6 mb-lg-10 mb-8">
      <div class="col-lg-6">
        <div class="table-responsive">
          <table class="table-stats">
            <colgroup>
              <col style="width: 52px" />
              <col />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 60px" />
            </colgroup>
            <thead>
              <tr>
                <th>#</th>
                <th>Jméno</th>
                <td>P</td>
                <td>G</td>
                <td>A</td>
                <td>B</td>
                <td>TM</td>
              </tr>
            </thead>
            <tbody>
              {% for i in 1..14 %}
              <tr>
                <td class="text-2xl-semibold text-stroke font-title">30</td>
                <td>
                  <a
                    class="d-flex gap-4 align-items-center text-md-bold hover-outline text-accent"
                    href="#"
                  >
                    <img
                      class="rounded-100 object-fit-cover"
                      width="40"
                      height="40"
                      src="images/content/ava.png"
                      alt="avatar"
                      loading="lazy"
                    />
                    Jan Novák
                  </a>
                </td>
                <td>U</td>
                <td>25</td>
                <td>23</td>
                <td>48</td>
                <td>12</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="table-responsive">
          <table class="table-stats">
            <colgroup>
              <col style="width: 52px" />
              <col />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 56px" />
              <col style="width: 60px" />
            </colgroup>
            <thead>
              <tr>
                <th>#</th>
                <th>Jméno</th>
                <td>P</td>
                <td>G</td>
                <td>A</td>
                <td>B</td>
                <td>TM</td>
              </tr>
            </thead>
            <tbody>
              {% for i in 1..14 %}
              <tr>
                <td class="text-2xl-semibold text-stroke font-title">30</td>
                <td>
                  <a
                    class="d-flex gap-4 align-items-center text-md-bold hover-outline text-accent"
                    href="#"
                  >
                    <img
                      class="rounded-100 object-fit-cover"
                      width="40"
                      height="40"
                      src="images/content/ava.png"
                      alt="avatar"
                      loading="lazy"
                    />
                    Jan Novák
                  </a>
                </td>
                <td>U</td>
                <td>25</td>
                <td>23</td>
                <td>48</td>
                <td>12</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
