header {
  position: relative;
  z-index: 999;
}
.header {
  &__logo {
    width: 120px;
    height: 36px;
    display: block;
    position: absolute;
    left: 0;
    @include media-breakpoint-down(xl) {
      position: relative;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-tabs {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex: 0 0 auto;
    @include media-breakpoint-down(lg) {
      gap: 24px;
    }
  }
  .social {
    flex: 0 0 auto;
  }
  &-tabs__link {
    color: var(--color-text-inverse);
    opacity: 0.6;
    font-style: italic;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: var(--font-display);
    position: relative;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      background: var(--color-light);
      width: 16px;
      height: 16px;
      border-radius: 100%;
      bottom: -23px;
      left: 0;
      right: 0;
      margin: 0 auto;
      opacity: 0;
      transition: all 0.2s;
    }
  }
  &-tabs__link.active {
    opacity: 1;
    &::before {
      opacity: 1;
    }
  }

  &-sponsor {
    width: 78px;
    height: 16px;
    display: block;
    flex: 0 0 auto;
    margin-left: 80px;
    margin-right: -80px;
    @include media-breakpoint-only(lg) {
      margin: 0 auto;
    }
    @include media-breakpoint-down(lg) {
      margin: 0;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-shop {
    position: absolute;
    right: 0;
    font-family: var(--font-display);
    color: var(--color-accent);
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration-color: transparent;
    box-shadow: 0px 0px 0px 0px #e31319;
    background: var(--color-bg-secondary);
    border-radius: 4px;
    height: 36px;
    border: 1px solid var(--color-text-inverse);
    display: flex;
    align-items: center;
    padding: 0 28px;
    transition: all 0.2s;
    @include media-breakpoint-down(xl) {
      position: relative;
      width: fit-content;
      margin: 24px auto 0;
    }
    &:hover {
      border: 1px solid var(--color-stroke);
      color: var(--color-stroke);
    }
  }
}
.headerTop {
  background: var(--color-accent);
  padding: 8px 0;
  &__inner {
    display: flex;
    align-items: center;
    gap: 2rem;
    @include media-breakpoint-down(xl) {
      justify-content: space-between;
    }
  }
  .search,
  .social {
    @include media-breakpoint-down(lg) {
      display: none !important;
    }
  }
}
.headerBottom {
  &__inner {
    position: relative;
    padding: 8px 120px;
    display: flex;
    align-items: center;
    @include media-breakpoint-down(xl) {
      padding: 12px 0;
      justify-content: space-between;
    }
  }
}

// navbar
.navbar {
  width: 100%;
  @include media-breakpoint-down(xl) {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: all 0.3s ease-out;
    right: 0px;
    z-index: 99999;
    top: 100%;
    width: calc(100% + 40px);
    margin: 0 auto;
    align-items: center;
    padding: 16px 20px 16px;
    flex-direction: column;
    background-color: var(--color-accent);
    left: -20px;
    height: calc(100vh - 93px);
    gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
    text-align: center;
    min-height: max-content;
  }
  &-nav {
    display: flex;
    align-items: center;
    gap: 40px;
    justify-content: center;
    width: 100%;
    @include media-breakpoint-down(xxl) {
      gap: 24px;
    }
    @include media-breakpoint-down(xl) {
      flex-direction: column;
    }
  }
}
.nav-link {
  font-family: var(--font-display);
  color: var(--color-accent);
  font-style: italic;
  font-size: 14px;
  line-height: 22px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration-color: transparent;
  padding: 14px 0;
  @include media-breakpoint-down(xl) {
    color: var(--color-light);
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
  }
  &:focus,
  &:hover {
    color: var(--color-stroke);
  }
}
.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 33;
  width: max-content;
  background-color: transparent;
  top: 100%;
  min-width: 180px;
  padding: 0px 0px 0px;
  box-shadow: 0px 0px 20px 0px rgba(16, 24, 40, 0.05);
  flex-direction: column;
  padding-top: 8px;
  @include media-breakpoint-down(xl) {
    width: 100%;
    padding-bottom: 0;
    box-shadow: none;
    background-color: var(--color-accent);
    gap: 1.5rem;
    padding-top: 1.5rem;
  }
  a {
    display: block;
    width: 100%;
    text-decoration-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: var(--color-light);
    background-color: var(--color-accent);
    padding: 4px 24px;
    font-family: var(--font-display);
    border-bottom: 1px solid var(--color-text-secondary);
    @include media-breakpoint-down(xl) {
      width: 100%;
      text-align: center;
      padding: 0;
      color: var(--color-light);
      height: auto;
      background-color: transparent;
      font-size: 1.25rem;
      line-height: 1.5;
      border: none;
    }
    &:hover {
      color: var(--color-stroke);
      background: var(--color-brand);
      @include media-breakpoint-down(xl) {
        background: var(--color-accent);
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .dropdown {
    .dropdown-menu {
      display: none;
    }
  }
  .dropdown,
  .dropend {
    &:hover {
      & > .dropdown-menu {
        display: block;
      }
    }
  }
  .dropdown {
    &:hover {
      & > .dropdown-menu {
        margin-top: -0.5rem;
      }
    }
  }
  .dropend {
    position: relative;
    &:hover {
      .dropdown-menu {
        position: absolute;
        top: -0.5rem;
        left: 100%;
        margin-left: 0;
        visibility: visible;
        overflow: visible;
      }
    }
  }
}
.is-nav-open .headerBottom .navbar {
  visibility: visible;
  opacity: 1;
}
.dropdown-menu.show {
  @include media-breakpoint-down(xl) {
    position: relative;
    display: flex;
  }
}
