<div class="teamLead">
  <div class="container">
    <div class="row g-6 mb-lg-14 mb-8">
      <div class="col-xl-3 col-md-6">
        <div class="p-6 bg-secondary rounded-3">
          <div class="text-accent font-title mb-3 text-2xl-semibold">
            Kanadské bodování
          </div>
          <div class="d-flex justify-content-between align-items-center gap-2">
            <div class="d-flex gap-2 align-items-center">
              <img
                class="object-fit-cover rounded-100"
                width="64"
                height="64"
                src="images/content/ava.png"
                loading="lazy"
                alt="avatar"
              />
              <div class="font-title text-uppercase">
                <div class="text-secondary text-lg-semibold">Jozef</div>
                <div class="text-2xl-semibold">Bacovský</div>
              </div>
            </div>
            <div class="h4 text-accent font-title font-italic">32</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="p-6 bg-secondary rounded-3">
          <div class="text-accent font-title mb-3 text-2xl-semibold">
            Nejlepší střelec
          </div>
          <div class="d-flex justify-content-between align-items-center gap-2">
            <div class="d-flex gap-2 align-items-center">
              <img
                class="object-fit-cover rounded-100"
                width="64"
                height="64"
                src="images/content/ava.png"
                loading="lazy"
                alt="avatar"
              />
              <div class="font-title text-uppercase">
                <div class="text-secondary text-lg-semibold">Jozef</div>
                <div class="text-2xl-semibold">Bacovský</div>
              </div>
            </div>
            <div class="h4 text-accent font-title font-italic">32</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="p-6 bg-secondary rounded-3">
          <div class="text-accent font-title mb-3 text-2xl-semibold">
            Nejlepší nahrávač
          </div>
          <div class="d-flex justify-content-between align-items-center gap-2">
            <div class="d-flex gap-2 align-items-center">
              <img
                class="object-fit-cover rounded-100"
                width="64"
                height="64"
                src="images/content/ava.png"
                loading="lazy"
                alt="avatar"
              />
              <div class="font-title text-uppercase">
                <div class="text-secondary text-lg-semibold">Jozef</div>
                <div class="text-2xl-semibold">Bacovský</div>
              </div>
            </div>
            <div class="h4 text-accent font-title font-italic">32</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6">
        <div class="p-6 bg-secondary rounded-3">
          <div class="text-accent font-title mb-3 text-2xl-semibold">
            Průměr ink branek na zápas
          </div>
          <div class="d-flex justify-content-between align-items-center gap-2">
            <div class="d-flex gap-2 align-items-center">
              <img
                class="object-fit-cover rounded-100"
                width="64"
                height="64"
                src="images/content/ava.png"
                loading="lazy"
                alt="avatar"
              />
              <div class="font-title text-uppercase">
                <div class="text-secondary text-lg-semibold">Jozef</div>
                <div class="text-2xl-semibold">Bacovský</div>
              </div>
            </div>
            <div class="h4 text-accent font-title font-italic">32</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
