.hp-matchesSlider {
  &__btn {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: var(--color-bg-secondary);
    border: 4px solid var(--color-light);
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
    transition: all 0.2s;
    svg {
      width: 24px;
      height: 24px;
    }
  }
  &__btn.prev {
    left: -24px;
    @include media-breakpoint-down(xl) {
      left: -10px;
    }
    svg {
      transform: rotate(90deg);
    }
  }
  &__btn.next {
    right: -10px;
    svg {
      transform: rotate(-90deg);
    }
  }
  &__btn.swiper-button-disabled {
    opacity: 0;
    visibility: hidden;
  }
}
