<footer class="footer">
  <div class="container">
    <div class="row g-10 justify-content-between">
      <div class="col-xl-4 col-auto">
        <div class="footer__brand">
          <a class="footer__logo" href="/">
            <img src="images/ico/footer-logo.svg" loading="lazy" alt="logo" />
          </a>
          <ul class="d-grid gap-6 text-inverse mb-8">
            <li class="d-flex align-items-center gap-4">
              <img
                class="object-fit-contain"
                width="24"
                height="24"
                src="images/ico/location.svg"
                loading="lazy"
                alt="ico"
              />
              <div class="text-sm-medium">
                <div>Hokejbalova 111,</div>
                <div>111 11 Bratislava</div>
              </div>
            </li>
            <li class="d-flex align-items-center gap-4">
              <img
                class="object-fit-contain"
                width="24"
                height="24"
                src="images/ico/phone.svg"
                loading="lazy"
                alt="ico"
              />
              <a href="tel:+420541249154" class="text-sm-medium hover-outline">
                541 249 154
              </a>
            </li>
            <li class="d-flex align-items-center gap-4">
              <img
                class="object-fit-contain"
                width="24"
                height="24"
                src="images/ico/mail.svg"
                loading="lazy"
                alt="ico"
              />
              <a
                href="mailto:info@hokejbal.sk"
                class="text-sm-medium hover-outline"
              >
                info@hokejbal.sk
              </a>
            </li>
          </ul>
          {% include "@components/social/social.twig" %}
        </div>
      </div>
      <div class="col-xl-8 col-lg-auto col-12">
        <nav class="footer-nav">
          <div class="footer-nav__col">
            <div
              class="text-inverse font-title font-italic text-uppercase text-sm-semibold mb-4"
            >
              SÚŤAŽE
            </div>
            <ul
              class="d-grid gap-lg-4 gap-3 text-sm-medium text-inverse hover-outline"
            >
              <li><a href="#">Národná Hokejbalová Liga (NHBL)</a></li>
              <li><a href="#">1. Liga - Západ</a></li>
              <li><a href="#">1. Liga - Východ</a></li>
              <li><a href="#">Extraliga Ženy</a></li>
              <li><a href="#">U20 Liga</a></li>
            </ul>
          </div>
          <div class="footer-nav__col">
            <div
              class="text-inverse font-title font-italic text-uppercase text-sm-semibold mb-4"
            >
              POHÁRE
            </div>
            <ul
              class="d-grid gap-lg-4 gap-3 text-sm-medium text-inverse hover-outline"
            >
              <li><a href="#">Slovenský pohár</a></li>
              <li><a href="#">Superpohár</a></li>
              <li><a href="#">Czech-Slovak Cup</a></li>
            </ul>
          </div>
          <div class="footer-nav__col">
            <div
              class="text-inverse font-title font-italic text-uppercase text-sm-semibold mb-4"
            >
              TURNAJE
            </div>
            <ul
              class="d-grid gap-lg-4 gap-3 text-sm-medium text-inverse hover-outline"
            >
              <li><a href="#">Mamut Cup</a></li>
              <li><a href="#">Országh Cup</a></li>
              <li><a href="#">Winter Classic</a></li>
              <li><a href="#">Street Hokej Tour</a></li>
            </ul>
          </div>
          <div class="footer-nav__col">
            <div
              class="text-inverse font-title font-italic text-uppercase text-sm-semibold mb-4"
            >
              REPREZENTÁCIA
            </div>
            <ul
              class="d-grid gap-lg-4 gap-3 text-sm-medium text-inverse hover-outline"
            >
              <li><a href="#">Muži A</a></li>
              <li><a href="#">Muži U23</a></li>
              <li><a href="#">Muži U20</a></li>
              <li><a href="#">Ženy A</a></li>
              <li><a href="#">Ženy U20</a></li>
            </ul>
          </div>
          <div class="footer-nav__col">
            <div
              class="text-inverse font-title font-italic text-uppercase text-sm-semibold mb-4"
            >
              ŠTATISTIKY
            </div>
            <ul
              class="d-grid gap-lg-4 gap-3 text-sm-medium text-inverse hover-outline"
            >
              <li><a href="#">Kanadské Bodovanie</a></li>
              <li><a href="#">Góly</a></li>
              <li><a href="#">Asistencie</a></li>
              <li><a href="#">Body</a></li>
              <li><a href="#">Brankári</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="footer-bottom">
      <ul
        class="d-flex gap-lg-10 gap-6 text-xs-medium text-inverse hover-outline flex-wrap justify-content-lg-start justify-content-center"
      >
        <li>
          <a
            href="javascript:void(0);"
            data-cc="c-settings"
            aria-haspopup="dialog"
          >
            Cookies
          </a>
        </li>
        <li>
          <a href="#">Copyright</a>
        </li>
        <li>
          <a href="#">Fakturační údaje</a>
        </li>
        <li>
          <a href="#">Pristupnost</a>
        </li>
        <li>
          <a href="#">Podmínky použití webu</a>
        </li>
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a href="#"></a>
        </li>
        <li>
          <a href="#"></a>
        </li>
      </ul>
      <div class="d-flex align-items-center gap-3 text-xs-medium text-inverse">
        Vyrobeno v
        <a href="#" target="_blank">
          <img
            class="object-fit-contain"
            src="images/ico/esports.svg"
            width="70"
            height="21"
            alt="esports"
            loading="lazy"
          />
        </a>
        v roce 2025
      </div>
    </div>
  </div>
</footer>
