<section class="heroCards">
  <div class="container">
    <div class="heroCards__inner swiper">
      <button class="heroCards__btn prev" aria-label="Previous">
        {% include "@images/chevron-down.svg" %}
      </button>
      <ul role="list" class="swiper-wrapper infinite-scroll-swiper">
        {% for i in 1..6 %}
        <li class="swiper-slide">
          <a class="postCard-high" href="#">
            <img
              srcset="https://picsum.photos/400/600"
              alt="post"
              width="400"
              height="600"
            />
            <div class="postCard-md__content">
              <div class="d-flex gap-4 align-items-center mb-lg-6 mb-4">
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
              <h4 class="title mb-lg-4 mb-3">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </h4>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </a>
        </li>

        {% endfor %}
      </ul>
      <button class="heroCards__btn next" aria-label="Previous">
        {% include "@images/chevron-down.svg" %}
      </button>
    </div>
    <div class="text-center mt-6">
      <a href="#" class="btn-light w-auto px-6">Další články</a>
    </div>
  </div>
</section>
