.TopStory {
  display: none;
  height: 100%;

  &.is-active {
    display: flex;
  }
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  &-btn {
    min-width: 128px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background: var(--color-brand);
    font-size: 18px;
    line-height: 22px;
    color: var(--color-text-inverse);
    font-style: italic;
    font-family: var(--font-display);
    height: 48px;
    display: inline-flex;
    border-radius: 56px;
    transition: all 0.3s;
    text-decoration: none;
    &:hover {
      background: var(--color-accent);
    }
  }
  &-imgPlaceholder,
  &-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center top;
    z-index: 1;
  }

  &-img {
    opacity: 0;

    &.is-active {
      opacity: 1;
    }
  }

  &-imgPlaceholder {
    display: none;

    &.is-active {
      display: block;
      filter: blur(10px);
      transform: scale(1);
      z-index: 2;
    }
  }

  &-content {
    align-self: flex-end;
    position: relative;
    padding: 48px 0 48px 24px;
    z-index: 2;
    max-width: 480px;
    .h3 {
      line-height: 40px;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

@keyframes showTopStory {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
.TopStories {
  overflow: hidden;
  position: relative;
  margin-bottom: 56px;
  @include media-breakpoint-down(lg) {
    margin-bottom: 32px;
  }
  &::after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(
      90deg,
      rgba(0, 58, 180, 0) 0%,
      rgba(0, 58, 180, 0.8) 70%,
      #003ab4 100%
    );
    backdrop-filter: blur(2px);
    z-index: 1;
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }
}
.dots-container {
  display: none;
  visibility: hidden;
}

.NavTopStories {
  align-self: center;
  position: relative;
  z-index: 2;
  @include media-breakpoint-down(lg) {
    width: 100%;
  }
  ul {
    @include media-breakpoint-only(md) {
      display: grid;
      gap: 24px;
      background-color: #fff;

      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "item1 item1"
        "item2 item3"
        "item4 item5";

      li:nth-child(1) {
        grid-area: item1;
      }
      li:nth-child(2) {
        grid-area: item2;
      }
      li:nth-child(3) {
        grid-area: item3;
      }
      li:nth-child(4) {
        grid-area: item4;
      }
      li:nth-child(5) {
        grid-area: item5;
      }
    }

    @include media-breakpoint-only(sm) {
      display: grid;
      gap: 24px;
      background-color: #fff;

      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "item1 item1"
        "item2 item3"
        "item4 item5";

      li:nth-child(1) {
        grid-area: item1;
      }
      li:nth-child(2) {
        grid-area: item2;
      }
      li:nth-child(3) {
        grid-area: item3;
      }
      li:nth-child(4) {
        grid-area: item4;
      }
      li:nth-child(5) {
        grid-area: item5;
      }
    }

    @include media-breakpoint-down(sm) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  &-item {
    position: relative;
    padding: 24px 16px;
    transition: all 0.3s;
    border-left: 2px solid transparent;
    margin-left: 0;
    @include media-breakpoint-down(lg) {
      display: flex;
      flex-direction: column;
      padding: 0;
      border-left: none !important;
    }

    &.is-active {
      border-left: 2px solid var(--color-stroke);
    }
    &:first-child {
      .NavTopStories-imgContainer {
        @include media-breakpoint-only(md) {
          aspect-ratio: 684/420;
        }
        @include media-breakpoint-only(sm) {
          aspect-ratio: 684/420;
        }
      }
    }
  }

  &-imgContainer {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
    &::before {
      content: "";
      display: block;
      padding-bottom: 66.666%;
      @include media-breakpoint-down(lg) {
        position: absolute;
        background: rgba(0, 0, 0, 0.2);
        width: 100%;
        height: 100%;
        padding: 0;
        top: 0;
        left: 0;
        z-index: 2;
      }
    }

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0;
    @include media-breakpoint-down(lg) {
      position: relative;
    }
    &.is-active {
      opacity: 1;
    }
  }

  &-textContainer {
    @include media-breakpoint-down(lg) {
      flex: 1;
      padding: 1rem;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
    }
  }

  &-link {
    display: block;
    text-decoration-color: transparent;
    transition: all 0.3s;
    &:hover {
      text-decoration-color: inherit;
    }
    @include media-breakpoint-down(lg) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
      }
    }
  }
}

.TopStoriesSide {
  max-width: 33.333%;
  flex: 0 0 33.333%;
  display: flex;
  flex-direction: column;
  @include media-breakpoint-down(lg) {
    max-width: 100%;
    flex: 100%;
  }
}
.TopStoriesContent {
  max-width: 66.666%;
  flex: 0 0 66.666%;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}
.TopStoriesRow {
  display: flex;
  gap: 24px;
}
.NavTopStoriesContainer {
  @include media-breakpoint-up(lg) {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
