<div class="TopStories">
  <div class="container">
    <div class="TopStoriesRow">
      <!-- Top stories - desktop -->
      <div class="TopStoriesContent">
        <!-- Top story #1 - Active state by default -->
        <section class="TopStory js-topStory" id="TP1">
          <img
            class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
            srcset="https://picsum.photos/150/100"
            width="150"
            height="100"
            loading="lazy"
            alt=""
          />
          <picture>
            <source media="(max-width: 992px)" srcset="./img/blank.gif" />
            <img
              class="TopStory-img js-topStory-img"
              srcset="https://picsum.photos/1920/1280"
              width="1920"
              height="1280"
              alt=""
              loading="lazy"
            />
          </picture>
          <div class="TopStory-content">
            <div class="d-flex gap-4 align-items-center mb-6">
              <div class="tag">Reprezentacia</div>
              <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
            </div>
            <h1 class="h3 text-inverse hover-outline mb-6">
              <a href="#">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </a>
            </h1>
            <p class="text-sm-regular text-inverse mb-6">
              Ve středečním zápase se rozhodlo o dalších semifinalistech.
              Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
              Košické Lvi, které se po deseti letech nedostaly do semifinále,
              podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
              Semifinále tak opět přinese vzrušující městské derby.
            </p>
            <a class="TopStory-btn" href="#">Více</a>
          </div>
        </section>
        <!-- Top story #2 -->
        <section class="TopStory js-topStory is-active" id="TP2">
          <img
            class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
            srcset="https://picsum.photos/150/100"
            loading="lazy"
            width="150"
            height="100"
            alt=""
          />
          <picture>
            <source media="(max-width: 992px)" srcset="./img/blank.gif" />

            <img
              class="TopStory-img js-topStory-img"
              srcset="https://picsum.photos/1921/1280"
              width="1920"
              height="1280"
              alt=""
              loading="lazy"
            />
          </picture>
          <div class="TopStory-content">
            <div class="d-flex gap-4 align-items-center mb-6">
              <div class="tag">Reprezentacia</div>
              <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
            </div>
            <h1 class="h3 text-inverse hover-outline mb-6">
              <a href="#"> Víťazstvo Zvolena smerom k semifinálovému derby </a>
            </h1>
            <p class="text-sm-regular text-inverse mb-6">
              Ve středečním zápase se rozhodlo o dalších semifinalistech.
              Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
              Košické Lvi, které se po deseti letech nedostaly do semifinále,
              podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
              Semifinále tak opět přinese vzrušující městské derby.
            </p>
            <a class="TopStory-btn" href="#">Více</a>
          </div>
        </section>
        <!-- Top story #3 -->
        <section class="TopStory js-topStory" id="TP3">
          <img
            class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
            srcset="https://picsum.photos/150/100"
            loading="lazy"
            width="150"
            height="100"
            alt=""
          />
          <picture>
            <source media="(max-width: 992px)" srcset="./img/blank.gif" />

            <img
              class="TopStory-img js-topStory-img"
              srcset="https://picsum.photos/1920/1281"
              width="1920"
              height="1280"
              alt=""
              loading="lazy"
            />
          </picture>
          <div class="TopStory-content">
            <div class="d-flex gap-4 align-items-center mb-6">
              <div class="tag">Reprezentacia</div>
              <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
            </div>
            <h1 class="h3 text-inverse hover-outline mb-6">
              <a href="#"> Víťazstvo Detvy smerom k semifinálovému derby </a>
            </h1>
            <p class="text-sm-regular text-inverse mb-6">
              Ve středečním zápase se rozhodlo o dalších semifinalistech.
              Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
              Košické Lvi, které se po deseti letech nedostaly do semifinále,
              podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
              Semifinále tak opět přinese vzrušující městské derby.
            </p>
            <a class="TopStory-btn" href="#">Více</a>
          </div>
        </section>
        <!-- Top story #4 -->
        <section class="TopStory js-topStory" id="TP4">
          <img
            class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
            srcset="https://picsum.photos/150/100"
            width="150"
            height="100"
            alt=""
          />
          <picture>
            <source media="(max-width: 992px)" srcset="./img/blank.gif" />

            <img
              class="TopStory-img js-topStory-img"
              srcset="https://picsum.photos/1920/1279"
              width="1920"
              height="1280"
              alt=""
              loading="lazy"
            />
          </picture>
          <div class="TopStory-content">
            <div class="d-flex gap-4 align-items-center mb-6">
              <div class="tag">Reprezentacia</div>
              <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
            </div>
            <h1 class="h3 text-inverse hover-outline mb-6">
              <a href="#"> Víťazstvo Trenčína smerom k semifinálovému derby </a>
            </h1>
            <p class="text-sm-regular text-inverse mb-6">
              Ve středečním zápase se rozhodlo o dalších semifinalistech.
              Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
              Košické Lvi, které se po deseti letech nedostaly do semifinále,
              podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
              Semifinále tak opět přinese vzrušující městské derby.
            </p>
            <a class="TopStory-btn" href="#">Více</a>
          </div>
        </section>
        <section class="TopStory js-topStory" id="TP5">
          <img
            class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
            srcset="https://picsum.photos/150/100"
            width="150"
            height="100"
            alt=""
          />
          <picture>
            <source media="(max-width: 992px)" srcset="./img/blank.gif" />

            <img
              class="TopStory-img js-topStory-img"
              srcset="https://picsum.photos/1922/1279"
              width="1920"
              height="1280"
              alt=""
              loading="lazy"
            />
          </picture>
          <div class="TopStory-content">
            <div class="d-flex gap-4 align-items-center mb-6">
              <div class="tag">Reprezentacia</div>
              <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
            </div>
            <h1 class="h3 text-inverse hover-outline mb-6">
              <a href="#"> Víťazstvo Košíc smerom k semifinálovému derby </a>
            </h1>
            <p class="text-sm-regular text-inverse mb-6">
              Ve středečním zápase se rozhodlo o dalších semifinalistech.
              Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
              Košické Lvi, které se po deseti letech nedostaly do semifinále,
              podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
              Semifinále tak opět přinese vzrušující městské derby.
            </p>
            <a class="TopStory-btn" href="#">Více</a>
          </div>
        </section>
      </div>

      <!-- Top stories nav / Top stories mobile -->
      <div class="TopStoriesSide NavTopStoriesContainer">
        <nav class="NavTopStories" aria-label="Navigace - top články">
          <ul>
            <!-- Top story #1 - Active state by default -->
            <li
              class="NavTopStories-item js-topStory-activate is-active"
              data-top-story="TP1"
            >
              <a href="#" class="NavTopStories-imgContainer">
                <img
                  class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
                  srcset="https://picsum.photos/150/100"
                  width="150"
                  height="100"
                  alt=""
                />
                <img
                  class="NavTopStories-img js-topStory-img"
                  srcset="https://picsum.photos/375/250"
                  width="375"
                  height="250"
                  alt=""
                  loading="lazy"
                />
              </a>
              <div class="NavTopStories-textContainer">
                <div
                  class="d-flex gap-2 align-items-center mb-lg-4 mb-2 text-inverse"
                >
                  <div class="text-xxs-regular">25. 04. 2025</div>
                  <div class="dot text-stroke">•</div>
                  <div class="text-xxs-regular">Reprezentacia</div>
                </div>
                <a href="#" class="NavTopStories-link h6 text-inverse">
                  Víťazstvo Michaloviec smerom k semifinálovému derby
                </a>
              </div>
            </li>
            <!-- Top story #2 -->
            <li
              class="NavTopStories-item js-topStory-activate"
              data-top-story="TP2"
            >
              <a href="#" class="NavTopStories-imgContainer">
                <img
                  class="TopStory-imgPlaceholder js-topStory-imgPlaceholder"
                  srcset="https://picsum.photos/150/100"
                  width="150"
                  height="100"
                  alt=""
                />
                <img
                  class="NavTopStories-img js-topStory-img"
                  srcset="https://picsum.photos/375/250"
                  width="375"
                  height="250"
                  alt=""
                  loading="lazy"
                />
              </a>
              <div class="NavTopStories-textContainer">
                <div
                  class="d-flex gap-2 align-items-center mb-lg-4 mb-2 text-inverse"
                >
                  <div class="text-xxs-regular">25. 04. 2025</div>
                  <div class="dot text-stroke">•</div>
                  <div class="text-xxs-regular">Reprezentacia</div>
                </div>
                <a href="#" class="NavTopStories-link h6 text-inverse">
                  Víťazstvo Zvolena smerom k semifinálovému derby
                </a>
              </div>
            </li>
            <!-- Top story #3 -->
            <li
              class="NavTopStories-item js-topStory-activate"
              data-top-story="TP3"
            >
              <a href="#" class="NavTopStories-imgContainer">
                <img
                  class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
                  srcset="https://picsum.photos/150/100"
                  width="150"
                  height="100"
                  loading="lazy"
                  alt=""
                />
                <img
                  class="NavTopStories-img js-topStory-img"
                  srcset="https://picsum.photos/375/250"
                  width="375"
                  height="250"
                  alt=""
                  loading="lazy"
                />
              </a>
              <div class="NavTopStories-textContainer">
                <div
                  class="d-flex gap-2 align-items-center mb-lg-4 mb-2 text-inverse"
                >
                  <div class="text-xxs-regular">25. 04. 2025</div>
                  <div class="dot text-stroke">•</div>
                  <div class="text-xxs-regular">Reprezentacia</div>
                </div>
                <a href="#" class="NavTopStories-link h6 text-inverse">
                  Víťazstvo Detvy smerom k semifinálovému derby
                </a>
              </div>
            </li>
            <!-- Top story #4 -->
            <li
              class="NavTopStories-item js-topStory-activate"
              data-top-story="TP4"
            >
              <a href="#" class="NavTopStories-imgContainer">
                <img
                  class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
                  srcset="https://picsum.photos/150/100"
                  width="150"
                  height="100"
                  loading="lazy"
                  alt=""
                />
                <img
                  class="NavTopStories-img js-topStory-img"
                  srcset="https://picsum.photos/375/250"
                  width="375"
                  height="250"
                  alt=""
                  loading="lazy"
                />
              </a>
              <div class="NavTopStories-textContainer">
                <div
                  class="d-flex gap-2 align-items-center mb-lg-4 mb-2 text-inverse"
                >
                  <div class="text-xxs-regular">25. 04. 2025</div>
                  <div class="dot text-stroke">•</div>
                  <div class="text-xxs-regular">Reprezentacia</div>
                </div>
                <a href="#" class="NavTopStories-link h6 text-inverse">
                  Víťazstvo Trenčína smerom k semifinálovému derby
                </a>
              </div>
            </li>
            <!-- Top story #5 -->
            <li
              class="NavTopStories-item js-topStory-activate"
              data-top-story="TP5"
            >
              <a href="#" class="NavTopStories-imgContainer">
                <img
                  class="TopStory-imgPlaceholder js-topStory-imgPlaceholder is-active"
                  srcset="https://picsum.photos/150/100"
                  width="150"
                  height="100"
                  loading="lazy"
                  alt=""
                />
                <img
                  class="NavTopStories-img js-topStory-img"
                  srcset="https://picsum.photos/375/250"
                  width="375"
                  height="250"
                  alt=""
                  loading="lazy"
                />
              </a>
              <div class="NavTopStories-textContainer">
                <div
                  class="d-flex gap-2 align-items-center mb-lg-4 mb-2 text-inverse"
                >
                  <div class="text-xxs-regular">25. 04. 2025</div>
                  <div class="dot text-stroke">•</div>
                  <div class="text-xxs-regular">Reprezentacia</div>
                </div>
                <a href="#" class="NavTopStories-link h6 text-inverse">
                  Víťazstvo Košíc smerom k semifinálovému derby
                </a>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
