{% extends "@components/base/base.twig" %} {% set use_alt_header = true %} {%
set title = "00.0_static" %} {% block main %}

<div class="mb-lg-20 mb-10">
  <div class="container">
    <div class="headerPage">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>

          <li class="breadcrumb-item active" aria-current="page">Static</li>
        </ol>
      </nav>

      <h1 class="h2 titleDot text-center">Static Page</h1>
    </div>
    <div class="container-sm p-0">
      <div class="o-content">
        <div class="perex">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
          fuga repellendus at, officia perspiciatis dolore corrupti reiciendis
          aut id vero. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Deserunt fuga repellendus at, officia perspiciatis dolore corrupti
          reiciendis aut id vero.
        </div>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
          fuga repellendus at, officia perspiciatis dolore corrupti reiciendis
          aut id vero. Lorem ipsum, dolor sit amet consectetur adipisicing elit.
          Deserunt fuga repellendus at, officia perspiciatis dolore corrupti
          reiciendis aut id vero.
        </p>
        <p>
          <strong>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt
            fuga repellendus at, officia perspiciatis dolore corrupti reiciendis
            aut id vero. Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Deserunt fuga repellendus at, officia perspiciatis dolore
            corrupti reiciendis aut id vero.
          </strong>
        </p>
        <hr />
        <h6>Headline 6</h6>
        <h5>Headline 5</h5>
        <ul>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
        </ul>
        <hr />
        <h6>Headline 6</h6>
        <ol>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
          <li>Na výsadbu tak půjde jeden milion korun</li>
          <li>Na výsadbu tak půjde</li>
        </ol>
        <img
          class="rounded-16"
          src="https://picsum.photos/684/464"
          loading="lazy"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
{% endblock %}
