{% extends "@components/base/base.twig" %} {% set use_alt_header = true %} {%
set title = "06.0_detail-club-matches" %} {% block main %}

<div class="container">
  <div class="headerPage">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Current page</li>
      </ol>
    </nav>
    <img
      class="object-fit-contain mb-4"
      width="48"
      height="48"
      src="images/ico/slovan-bratislava.svg"
      alt="club logo"
    />
    <h1 class="h2 titleDot text-center">HBT Slovan Bratislava</h1>
  </div>
  <div
    class="my-lg-8 my-6 font-title text-stroke text-sm-semibold font-italic text-uppercase text-center"
  >
    Extraliga hokejbalu – základní část
  </div>
  <div class="d-flex mb-6 border-bottom overflow-scroll slim-scroll pb-0">
    <a
      class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
      href="#"
    >
      Přehled
    </a>
    <a
      class="text-accent border-bottom border-3 border-primary font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
      href="#"
    >
      Zápasy
    </a>
    <a
      class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
      href="#"
    >
      Soupiska
    </a>
    <a
      class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
      href="#"
    >
      Statistiky
    </a>
    <a
      class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
      href="#"
    >
      Kontakty
    </a>
  </div>

  <div
    class="mb-4 d-flex justify-content-between align-items-center gap-4 flex-wrap"
  >
    <div class="d-flex gap-2">
      <a href="#" class="switchItem active"> Všechny </a>
      <a href="#" class="switchItem">Budouci </a>
      <a href="#" class="switchItem"> Minule</a>
    </div>
    <form class="submitForm w-sm-auto w-100">
      <select class="js-select" id="year" name="year">
        <option>2025/26</option>
        <option>2024/25</option>
        <option>2023/24</option>
        <option>2022/23</option>
        <option>2021/22</option>
      </select>
    </form>
  </div>
  <div class="d-flex gap-2 mb-8 flex-wrap">
    <a href="#" class="switchItem active"> Všechny fáze </a>
    <a href="#" class="switchItem">Tipsport extraliga </a>
    <a href="#" class="switchItem"> Tipsport extraliga – play-off</a>
    <a href="#" class="switchItem"> Liga mistrů</a>
    <a href="#" class="switchItem"> Přátelské zápasy</a>
  </div>

  <div class="mb-lg-20 mb-8">
    <div class="row g-6">
      {% for i in 1..4 %}
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="cardMatch">
          <div>
            <div
              class="d-flex align-items-center gap-2 text-xs-medium text-accent mb-4"
            >
              <img
                class="object-fit-contain"
                height="24"
                width="80"
                src="images/ico/logo.svg"
                alt=""
              />
              <span class="dot text-stroke">•</span>
              <div>1. kolo</div>
            </div>
            <div class="d-grid gap-2">
              <div
                class="d-flex justify-content-between align-items-center gap-2"
              >
                <div class="d-flex align-items-center gap-2">
                  <img
                    class="object-fit-contain"
                    width="24"
                    height="24"
                    src="images/ico/slovan-bratislava.svg"
                    loading="lazy"
                    alt="club logo"
                  />
                  <div class="h6 font-title">Slovan Bratislava</div>
                </div>
                <div class="h6 text-accent font-title">6</div>
              </div>
              <div
                class="d-flex justify-content-between align-items-center gap-2"
              >
                <div class="d-flex align-items-center gap-2">
                  <img
                    class="object-fit-contain"
                    width="24"
                    height="24"
                    src="images/content/clubs/kosice.jpg"
                    loading="lazy"
                    alt="club logo"
                  />
                  <div class="h6 font-title">HBC Cesty Košice</div>
                </div>
                <div class="h6 text-accent font-title">2</div>
              </div>
            </div>
          </div>

          <div class="pt-4 mt-7 border-top border-white">
            <div
              class="d-flex align-items-center gap-2 text-xs-medium mb-4 flex-wrap"
            >
              <div>piatok</div>
              <span class="dot text-stroke">•</span>
              <div>05. 08. 2025</div>
              <span class="dot text-stroke">•</span>
              <div>18:00</div>
            </div>
            <div class="text-xs-medium text-secondary mb-4">
              Arena Bratislava
            </div>
            <a class="btn-primary w-100" href="#">Detail</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="cardMatch">
          <div>
            <div
              class="d-flex align-items-center gap-2 text-xs-medium text-accent mb-4"
            >
              <img
                class="object-fit-contain"
                height="24"
                width="80"
                src="images/ico/logo.svg"
                alt=""
              />
              <span class="dot text-stroke">•</span>
              <div>1. kolo</div>
            </div>
            <div class="d-grid gap-2">
              <div
                class="d-flex justify-content-between align-items-center gap-2"
              >
                <div class="d-flex align-items-center gap-2">
                  <img
                    class="object-fit-contain"
                    width="24"
                    height="24"
                    src="images/content/clubs/rytiri.jpg"
                    loading="lazy"
                    alt="club logo"
                  />
                  <div class="h6 font-title">HBK Nitrianski Rytieri</div>
                </div>
                <div class="h6 text-accent font-title">7</div>
              </div>
              <div
                class="d-flex justify-content-between align-items-center gap-2"
              >
                <div class="d-flex align-items-center gap-2">
                  <img
                    class="object-fit-contain"
                    width="24"
                    height="24"
                    src="images/ico/slovan-bratislava.svg"
                    loading="lazy"
                    alt="club logo"
                  />
                  <div class="h6 font-title">Slovan Bratislava</div>
                </div>
                <div class="h6 text-accent font-title">3</div>
              </div>
            </div>
          </div>

          <div class="pt-4 mt-7 border-top border-white">
            <div
              class="d-flex align-items-center gap-2 text-xs-medium mb-4 flex-wrap"
            >
              <div>piatok</div>
              <span class="dot text-stroke">•</span>
              <div>05. 08. 2025</div>
              <span class="dot text-stroke">•</span>
              <div>18:00</div>
            </div>
            <div class="text-xs-medium text-secondary mb-4">
              Arena Bratislava
            </div>
            <a class="btn-primary w-100" href="#">Detail</a>
          </div>
        </div>
      </div>

      {% endfor %} {% for i in 1..4 %}

      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="cardMatch">
          <div>
            <div
              class="d-flex align-items-center gap-2 text-xs-medium text-accent mb-4"
            >
              <img
                class="object-fit-contain"
                height="24"
                width="80"
                src="images/ico/logo.svg"
                alt=""
              />
              <span class="dot text-stroke">•</span>
              <div>1. kolo</div>
            </div>
            <div class="d-grid gap-2">
              <div
                class="d-flex justify-content-between align-items-center gap-2"
              >
                <div class="d-flex align-items-center gap-2">
                  <img
                    class="object-fit-contain"
                    width="24"
                    height="24"
                    src="images/content/clubs/rytiri.jpg"
                    loading="lazy"
                    alt="club logo"
                  />
                  <div class="h6 font-title">HBK Nitrianski Rytieri</div>
                </div>
              </div>
              <div
                class="d-flex justify-content-between align-items-center gap-2"
              >
                <div class="d-flex align-items-center gap-2">
                  <img
                    class="object-fit-contain"
                    width="24"
                    height="24"
                    src="images/content/clubs/bystica.jpg"
                    loading="lazy"
                    alt="club logo"
                  />
                  <div class="h6 font-title">HBK PROTEF Považská Bystrica</div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-4 mt-7 border-top border-white">
            <div
              class="d-flex align-items-center gap-2 text-xs-medium mb-4 flex-wrap"
            >
              <div>piatok</div>
              <span class="dot text-stroke">•</span>
              <div>05. 08. 2025</div>
              <span class="dot text-stroke">•</span>
              <div>18:00</div>
            </div>
            <div class="text-xs-medium text-secondary mb-4">Plzeň Arena</div>
            <a class="btn-light w-100" href="#">Zobrazit více</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="cardMatch">
          <div>
            <div
              class="d-flex align-items-center gap-2 text-xs-medium text-accent mb-4"
            >
              <img
                class="object-fit-contain"
                height="24"
                width="80"
                src="images/ico/logo.svg"
                alt=""
              />
              <span class="dot text-stroke">•</span>
              <div>1. kolo</div>
            </div>
            <div class="d-grid gap-2">
              <div
                class="d-flex justify-content-between align-items-center gap-2"
              >
                <div class="d-flex align-items-center gap-2">
                  <img
                    class="object-fit-contain"
                    width="24"
                    height="24"
                    src="images/content/clubs/rytiri.jpg"
                    loading="lazy"
                    alt="club logo"
                  />
                  <div class="h6 font-title">Kryté Zimní Stadion Brno</div>
                </div>
              </div>
              <div
                class="d-flex justify-content-between align-items-center gap-2"
              >
                <div class="d-flex align-items-center gap-2">
                  <img
                    class="object-fit-contain"
                    width="24"
                    height="24"
                    src="images/ico/slovan-bratislava.svg"
                    loading="lazy"
                    alt="club logo"
                  />
                  <div class="h6 font-title">Slovan Bratislava</div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-4 mt-7 border-top border-white">
            <div
              class="d-flex align-items-center gap-2 text-xs-medium mb-4 flex-wrap"
            >
              <div>piatok</div>
              <span class="dot text-stroke">•</span>
              <div>05. 08. 2025</div>
              <span class="dot text-stroke">•</span>
              <div>18:00</div>
            </div>
            <div class="text-xs-medium text-secondary mb-4">
              Arena Bratislava
            </div>
            <a class="btn-light w-100" href="#">Zobrazit více</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
