{% extends "@components/base/base.twig" %} {% set use_alt_header = true %} {%
set title = "12.0_competition-teams" %} {% block main %}
<div class="mb-lg-20 mb-10">
  <div class="container">
    <div class="headerPage">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Soutěž</li>
        </ol>
      </nav>
      <img
        class="object-fit-contain mb-4"
        width="200"
        height="48"
        src="images/ico/logo.svg"
        alt="competition logo"
      />
      <h1 class="h2 titleDot text-center">Tipsport extraliga</h1>
    </div>

    <div class="d-flex mb-6 border-bottom overflow-scroll slim-scroll pb-0">
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/14.0_competition-overview.html"
      >
        Přehled
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/11.0_competition-matches.html"
      >
        Zápasy
      </a>
      <a
        class="text-accent border-bottom border-3 border-primary font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/12.0_competition-teams.html"
      >
        Týmy
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/13.0_competition-table.html"
      >
        Tabulky
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href=""
      >
        Statistiky
      </a>
    </div>

    <div
      class="mb-6 d-flex justify-content-between align-items-center gap-4 flex-wrap"
    >
      <div class="d-flex gap-2 flex-wrap">
        <a href="#" class="switchItem active"> Celá sezóna </a>
        <a href="#" class="switchItem">Základní část </a>
        <a href="#" class="switchItem"> Play-off</a>
      </div>
      <form class="submitForm w-sm-auto w-100">
        <select class="js-select" id="year" name="year">
          <option>2025/26</option>
          <option>2024/25</option>
          <option>2023/24</option>
          <option>2022/23</option>
          <option>2021/22</option>
        </select>
      </form>
    </div>

    <div class="row g-6">
      {% for i in 1..12 %}
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <a
          href="#"
          class="bg-secondary p-6 rounded-3 h-100 d-grid gap-4 hover-outline text-accent"
        >
          <img
            width="48"
            height="48"
            class="object-fit-contain"
            src="images/ico/slovan-bratislava.svg"
            alt="logo"
          />
          <div class="h6 font-title">HBT Slovan Bratislava</div>
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
