{% extends "@components/base/base.twig" %} {% set use_alt_header = true %} {%
set title = "14.0_competition-overview" %} {% block main %}
<div class="mb-lg-20 mb-10">
  <div class="container">
    <div class="headerPage">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Soutěž</li>
        </ol>
      </nav>
      <img
        class="object-fit-contain mb-4"
        width="200"
        height="48"
        src="images/ico/logo.svg"
        alt="competition logo"
      />
      <h1 class="h2 titleDot text-center">Tipsport extraliga</h1>
    </div>

    <div class="d-flex mb-6 border-bottom overflow-scroll slim-scroll pb-0">
      <a
        class="text-accent border-bottom border-3 border-primary font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href=""
      >
        Přehled
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/11.0_competition-matches.html"
      >
        Zápasy
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/12.0_competition-teams.html"
      >
        Týmy
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href=""
      >
        Tabulky
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href=""
      >
        Statistiky
      </a>
    </div>
  </div>
</div>

{% endblock %}
