{% extends "@components/base/base.twig" %} {% set use_alt_header = true %} {%
set title = "14.0_competition-overview" %} {% block main %}
<div class="mb-lg-20 mb-10">
  <div class="container">
    <div class="headerPage">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Soutěž</li>
        </ol>
      </nav>
      <img
        class="object-fit-contain mb-4"
        width="200"
        height="48"
        src="images/ico/logo.svg"
        alt="competition logo"
      />
      <h1 class="h2 titleDot text-center">Tipsport extraliga</h1>
    </div>

    <div class="d-flex mb-6 border-bottom overflow-scroll slim-scroll pb-0">
      <a
        class="text-accent border-bottom border-3 border-primary font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/14.0_competition-overview.html"
      >
        Přehled
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/11.0_competition-matches.html"
      >
        Zápasy
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/12.0_competition-teams.html"
      >
        Týmy
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/13.0_competition-table.html"
      >
        Tabulky
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href=""
      >
        Statistiky
      </a>
    </div>

    <div class="swiper posts">
      <ul role="list" class="swiper-wrapper infinite-scroll-swiper">
        {% for i in 1..6 %}
        <li class="swiper-slide">
          {% include "@components/postCard/postCard-medium.twig" %}
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="text-center mt-8">
      <a class="btn-primary" href="#">Další články </a>
    </div>

    <hr />

    <div class="d-flex gap-2 justify-content-lg-center flex-wrap mb-lg-8 mb-6">
      <a href="#" class="switchItem active"> Celá sezóna </a>
      <a href="#" class="switchItem">Základní část </a>
      <a href="#" class="switchItem"> Play-off</a>
    </div>

    <div class="teamLead">
      <div class="row g-6">
        <div class="col-xl-3 col-md-6">
          <div class="p-6 bg-secondary rounded-3">
            <div class="text-accent font-title mb-3 text-2xl-semibold">
              Kanadské bodování
            </div>
            <div
              class="d-flex justify-content-between align-items-center gap-2"
            >
              <div class="d-flex gap-2 align-items-center">
                <img
                  class="object-fit-cover rounded-100"
                  width="64"
                  height="64"
                  src="images/content/ava.png"
                  loading="lazy"
                  alt="avatar"
                />
                <div class="font-title text-uppercase">
                  <div class="text-secondary text-lg-semibold">Jozef</div>
                  <div class="text-2xl-semibold">Bacovský</div>
                </div>
              </div>
              <div class="h4 text-accent font-title font-italic">32</div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="p-6 bg-secondary rounded-3">
            <div class="text-accent font-title mb-3 text-2xl-semibold">
              Nejlepší střelec
            </div>
            <div
              class="d-flex justify-content-between align-items-center gap-2"
            >
              <div class="d-flex gap-2 align-items-center">
                <img
                  class="object-fit-cover rounded-100"
                  width="64"
                  height="64"
                  src="images/content/ava.png"
                  loading="lazy"
                  alt="avatar"
                />
                <div class="font-title text-uppercase">
                  <div class="text-secondary text-lg-semibold">Jozef</div>
                  <div class="text-2xl-semibold">Bacovský</div>
                </div>
              </div>
              <div class="h4 text-accent font-title font-italic">32</div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="p-6 bg-secondary rounded-3">
            <div class="text-accent font-title mb-3 text-2xl-semibold">
              Nejlepší nahrávač
            </div>
            <div
              class="d-flex justify-content-between align-items-center gap-2"
            >
              <div class="d-flex gap-2 align-items-center">
                <img
                  class="object-fit-cover rounded-100"
                  width="64"
                  height="64"
                  src="images/content/ava.png"
                  loading="lazy"
                  alt="avatar"
                />
                <div class="font-title text-uppercase">
                  <div class="text-secondary text-lg-semibold">Jozef</div>
                  <div class="text-2xl-semibold">Bacovský</div>
                </div>
              </div>
              <div class="h4 text-accent font-title font-italic">32</div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="p-6 bg-secondary rounded-3">
            <div class="text-accent font-title mb-3 text-2xl-semibold">
              Průměr ink branek na zápas
            </div>
            <div
              class="d-flex justify-content-between align-items-center gap-2"
            >
              <div class="d-flex gap-2 align-items-center">
                <img
                  class="object-fit-cover rounded-100"
                  width="64"
                  height="64"
                  src="images/content/ava.png"
                  loading="lazy"
                  alt="avatar"
                />
                <div class="font-title text-uppercase">
                  <div class="text-secondary text-lg-semibold">Jozef</div>
                  <div class="text-2xl-semibold">Bacovský</div>
                </div>
              </div>
              <div class="h4 text-accent font-title font-italic">32</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <h2 class="title titleDot text-accent mb-lg-6 mb-4">Tabulka</h2>
    <div class="d-flex gap-2 flex-wrap mb-6">
      <a href="#" class="switchItem active"> Celková tabulka </a>
      <a href="#" class="switchItem">Doma </a>
      <a href="#" class="switchItem"> Venku</a>
    </div>
    <div class="table-responsive">
      <table class="table-stats">
        <colgroup>
          <col style="width: 56px" />
          <col />
          <col style="width: 56px" />
          <col style="width: 56px" />
          <col style="width: 56px" />
          <col style="width: 56px" />
          <col style="width: 56px" />
          <col style="width: 72px" />
          <col style="width: 56px" />
        </colgroup>

        <thead>
          <tr>
            <th>#</th>
            <th>Jméno</th>
            <th>Z</th>
            <th>V</th>
            <th>VP</th>
            <th>PP</th>
            <th>P</th>
            <th>Skóre</th>
            <th>B</th>
          </tr>
        </thead>

        <tbody>
          {% for i in 1..12 %}
          <tr>
            <td class="text-stroke text-xl-semibold text-title">1</td>
            <td class="text-md-bold text-accent">
              <a class="hover-outline d-flex align-items-center gap-4" href="#">
                <img
                  class="object-fit-cover"
                  width="40"
                  height="40"
                  src="images/ico/slovan-bratislava.svg"
                  alt="avatar"
                />
                SK Hokejbal Slovan Bratislava
              </a>
            </td>
            <td>6</td>
            <td>5</td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>63:14</td>
            <td>17</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
