{% extends "@components/base/base.twig" %} {% set use_alt_header = true %} {%
set title = "17.0_partners" %} {% block main %}

<div class="mb-lg-20 mb-10">
  <div class="container">
    <div class="headerPage">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>

          <li class="breadcrumb-item active" aria-current="page">Partneri</li>
        </ol>
      </nav>

      <h1 class="h2 titleDot text-center">Partneri</h1>
    </div>

    <h2 class="title titleDot text-accent mb-6">Generální partneri</h2>
    <div class="row g-6 mb-10">
      <div class="col-lg-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-1.svg"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-lg-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-2.svg"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
    </div>

    <h2 class="title titleDot text-accent mb-6">Oficiální partneri</h2>
    <div class="row g-6 mb-10">
      <div class="col-xl-3 col-md-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-2.svg"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-3.svg"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-4.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xl-3 col-md-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-5.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
    </div>

    <h2 class="title titleDot text-accent mb-6">Mediální partneri</h2>
    <div class="row g-6">
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-2.svg"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-1.svg"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-3.svg"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-4.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-5.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-8.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-9.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-10.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-11.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-12.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-13.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
      <div class="col-xxl-2 col-xl-3 col-md-4 col-sm-6">
        <a class="partnerItem" href="#" target="_blank">
          <img
            src="images/content/partners/p-14.png"
            alt="partner"
            loading="lazy"
          />
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
