{% extends "@components/base/base.twig" %} {% set use_alt_header = true %} {%
set title = "20.0_club-overview" %} {% block main %}
<div class="mb-lg-20 mb-10">
  <div class="container">
    <div class="headerPage">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Current page
          </li>
        </ol>
      </nav>
      <img
        class="object-fit-contain mb-4"
        width="48"
        height="48"
        src="images/ico/slovan-bratislava.svg"
        alt="club logo"
      />
      <h1 class="h2 titleDot text-center">HBT Slovan Bratislava</h1>
    </div>

    <div class="d-flex mb-6 border-bottom overflow-scroll slim-scroll pb-0">
      <a
        class="text-accent border-bottom border-3 border-primary font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/06.0_detail-club-overview.html"
      >
        Přehled
      </a>

      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="https://mizza-cz.github.io/hokejbal.sk/build/10.0_detail-club-contacts.html"
      >
        Kontakty
      </a>
    </div>

    <h2 class="title titleDot text-accent mb-lg-6 mb-4">Základní udaje</h2>
    <div class="row g-6 mb-lg-10 mb-8">
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="bg-secondary p-6 rounded-3 d-flex flex-column justify-content-between h-100 gap-4"
        >
          <img
            width="48"
            height="48"
            class="object-fit-contain"
            src="images/ico/slovan-bratislava.svg"
            alt="logo"
          />
          <div class="d-grid gap-4 mt-auto">
            <div class="h6 font-title">HBT Slovan Bratislava</div>
            <div class="text-secondary text-sm-regular">Název klubu</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="bg-secondary p-6 rounded-3 d-flex flex-column justify-content-between h-100 gap-4"
        >
          <img
            width="104"
            height="48"
            class="object-fit-contain"
            src="images/ico/logo.svg"
            alt="logo"
          />
          <div class="d-grid gap-4 mt-auto">
            <div class="h6 font-title">Extraliga hokejbalu – Základní část</div>
            <div class="text-secondary text-sm-regular">Aktuální soutěž</div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="bg-secondary p-6 rounded-3 d-flex flex-column justify-content-between h-100 gap-4"
        >
          <div class="d-grid gap-4 mt-auto">
            <a
              href="mailto:slovanbratislava.sk"
              class="h6 font-title hover-outline"
              >slovanbratislava.sk</a
            >
            <div class="text-secondary text-sm-regular">Web</div>
          </div>
        </div>
      </div>
    </div>

    <div
      class="d-flex align-items-end justify-content-between gap-4 flex-wrap mb-6"
    >
      <h2 class="title titleDot text-accent w-sm-auto w-100">Družstva</h2>
      <form class="submitForm w-sm-auto w-100">
        <select class="js-select" id="year" name="year">
          <option>2025/26</option>
          <option>2024/25</option>
          <option>2023/24</option>
          <option>2022/23</option>
          <option>2021/22</option>
        </select>
      </form>
    </div>
    <div class="row g-6">
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="bg-secondary p-6 rounded-3 d-grid h-100 gap-lg-14 gap-8 text-accent"
        >
          <div class="h6 font-title">A-tým</div>
          <a href="#" class="text-sm-regular hover-outline"> Detail týmu </a>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="bg-secondary p-6 rounded-3 d-grid h-100 gap-lg-14 gap-8 text-accent"
        >
          <div class="h6 font-title">B-tým</div>
          <a href="#" class="text-sm-regular hover-outline"> Detail týmu </a>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="bg-secondary p-6 rounded-3 d-grid h-100 gap-lg-14 gap-8 text-accent"
        >
          <div class="h6 font-title">U19</div>
          <a href="#" class="text-sm-regular hover-outline"> Detail týmu </a>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="bg-secondary p-6 rounded-3 d-grid h-100 gap-lg-14 gap-8 text-accent"
        >
          <div class="h6 font-title">U18</div>
          <a href="#" class="text-sm-regular hover-outline"> Detail týmu </a>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="bg-secondary p-6 rounded-3 d-grid h-100 gap-lg-14 gap-8 text-accent"
        >
          <div class="h6 font-title">U15</div>
          <a href="#" class="text-sm-regular hover-outline"> Detail týmu </a>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div
          class="bg-secondary p-6 rounded-3 d-grid h-100 gap-lg-14 gap-8 text-accent"
        >
          <div class="h6 font-title">Přípravka</div>
          <a href="#" class="text-sm-regular hover-outline"> Detail týmu </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% include "@components/posts/posts.twig" %} {% endblock %}
