{% extends "@components/base/base.twig" %} {% set use_alt_header = true %} {%
set title = "23.0_player-detail" %} {% block main %}

<div class="mb-lg-20 mb-10">
  <div class="container">
    {% include "@components/player-section/player-section.twig" %}
    <div
      class="mb-lg-8 mb-6 d-flex justify-content-between align-items-center gap-4 flex-wrap"
    >
      <div class="d-flex gap-2 flex-wrap">
        <a href="#" class="switchItem active"> Zápasy </a>
        <a href="#" class="switchItem">Sezóny </a>
      </div>
      <form
        class="submitForm w-sm-auto w-100 d-flex gap-4 flex-sm-nowrap flex-wrap"
      >
        <select class="js-select" id="year" name="year">
          <option>2025/26</option>
          <option>2024/25</option>
          <option>2023/24</option>
          <option>2022/23</option>
          <option>2021/22</option>
        </select>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table-player">
        <colgroup>
          <col style="width: 108px" />
          <col style="width: 56px" />
          <col />
          <col />
          <col style="width: 72px" />
          <col />
          <col style="width: 56px" />
          <col style="width: 56px" />
          <col style="width: 56px" />
          <col style="width: 60px" />
        </colgroup>
        <thead>
          <tr>
            <th>Datum</th>
            <th>Kolo</th>
            <th>Soutěž</th>
            <th>Domácí</th>
            <th>Skóre</th>
            <th>Hosté</th>
            <th>G</th>
            <th>A</th>
            <th>B</th>
            <th>TM</th>
          </tr>
        </thead>
        <tbody>
          {% for i in 1..8 %}
          <tr>
            <td>08.09.2025</td>
            <td>1</td>
            <td>
              <a class="text-md-regular hover-outline text-accent" href="#">
                Tipsport extraliga – play-off
              </a>
            </td>
            <td>
              <a href="#" class="d-flex align-items-center gap-4 hover-outline">
                <img
                  class="object-fit-contain"
                  src="images/ico/slovan-bratislava.svg"
                  width="24"
                  height="24"
                  alt="team logo"
                />
                <div class="text-md-bold">Slovan Bratislava</div>
              </a>
            </td>
            <td>
              <a class="text-accent fw-bold hover-outline" href="#">3:8</a>
            </td>
            <td>
              <a href="#" class="d-flex align-items-center gap-4 hover-outline">
                <img
                  class="object-fit-contain"
                  src="images/ico/slovan-bratislava.svg"
                  width="24"
                  height="24"
                  alt="team logo"
                />
                <div class="text-md-bold">Slovan Bratislava</div>
              </a>
            </td>
            <td>1</td>
            <td>0</td>
            <td>0</td>
            <td>17</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
