{% extends "@components/base/base.twig" %} {% set use_alt_header = true %} {%
set title = "26.0_archive" %} {% block main %}

<div class="mb-lg-20 mb-10">
  <div class="container">
    <div class="headerPage">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Novinky</li>
        </ol>
      </nav>

      <h1 class="h2 titleDot text-center">Novinky</h1>
    </div>
    <div class="container-sm p-0">
      <form class="search my-lg-8 mt-6 mb-4">
        <button>
          <img src="images/ico/search-secondary.svg" alt="search button" />
        </button>
        <input
          class="bg-secondary border-inverse text-secondary"
          placeholder="Čo hledáte?"
          type="text"
          name="search"
        />
      </form>
    </div>
    <div
      class="d-flex mb-lg-8 mb-6 border-bottom overflow-scroll slim-scroll pb-0"
    >
      <a
        class="text-accent border-bottom border-3 border-primary font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="#"
      >
        Vše
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="#"
      >
        Turnaje
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="#"
      >
        Sutaže
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="#"
      >
        Reprezentacia
      </a>
      <a
        class="font-title text-lg-semibold font-italic px-lg-6 px-4 py-lg-4 py-3 hover-outline d-block"
        href="#"
      >
        Mládež
      </a>
    </div>
    <div class="archive-section">
      <div class="row g-2 mb-lg-16 mb-10">
        <div class="col-lg-4 col-md-6">
          <a class="postCard-high" href="#">
            <img
              srcset="https://picsum.photos/478/600"
              alt="post"
              width="478"
              height="600"
              loading="lazy"
            />
            <div class="postCard-md__content">
              <div class="d-flex gap-4 align-items-center mb-lg-6 mb-4">
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
              <h4 class="title mb-lg-4 mb-3">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </h4>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a class="postCard-high" href="#">
            <img
              srcset="https://picsum.photos/478/600"
              alt="post"
              width="478"
              height="600"
              loading="lazy"
            />
            <div class="postCard-md__content">
              <div class="d-flex gap-4 align-items-center mb-lg-6 mb-4">
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
              <h4 class="title mb-lg-4 mb-3">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </h4>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a class="postCard-high" href="#">
            <img
              srcset="https://picsum.photos/478/600"
              alt="post"
              width="478"
              height="600"
              loading="lazy"
            />
            <div class="postCard-md__content">
              <div class="d-flex gap-4 align-items-center mb-lg-6 mb-4">
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
              <h4 class="title mb-lg-4 mb-3">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </h4>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </a>
        </div>
      </div>

      <h6 class="title titleDot text-accent mb-lg-6 mb-4">Krátké zprávy</h6>
      <div class="row gx-0 gy-6 mb-lg-16 mb-10">
        <div class="col-lg-4">
          <div class="newsItem newsItem--decore">
            <div class="font-title text-2xl-semibold text-accent">
              Novic v partě kohoutů: Václav Krliš
            </div>
            <div class="text-xxs-regular text-stroke">10. 10. 2024</div>
            <p class="text-sm-regular text-accent">
              V sobotu dopoledne se táborské hokejové partě dostalo nové posily.
              Máma Štěpánka a otec Václav přivedli do kohoutí družiny jméno,
              které už v ní figuruje: Václav Krliš. Šťastným rodičům i Vencovi
              juniorovi přejeme do dalšího života hodně štěstí, radosti a elánu.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="newsItem newsItem--decore">
            <div class="font-title text-2xl-semibold text-accent">
              Novic v partě kohoutů: Václav Krliš
            </div>
            <div class="text-xxs-regular text-stroke">10. 10. 2024</div>
            <p class="text-sm-regular text-accent">
              V sobotu dopoledne se táborské hokejové partě dostalo nové posily.
              Máma Štěpánka a otec Václav přivedli do kohoutí družiny jméno,
              které už v ní figuruje: Václav Krliš. Šťastným rodičům i Vencovi
              juniorovi přejeme do dalšího života hodně štěstí, radosti a elánu.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="newsItem newsItem--decore">
            <div class="font-title text-2xl-semibold text-accent">
              Novic v partě kohoutů: Václav Krliš
            </div>
            <div class="text-xxs-regular text-stroke">10. 10. 2024</div>
            <p class="text-sm-regular text-accent">
              V sobotu dopoledne se táborské hokejové partě dostalo nové posily.
              Máma Štěpánka a otec Václav přivedli do kohoutí družiny jméno,
              které už v ní figuruje: Václav Krliš. Šťastným rodičům i Vencovi
              juniorovi přejeme do dalšího života hodně štěstí, radosti a elánu.
            </p>
          </div>
        </div>
      </div>

      <div class="row gx-2 gy-6 mb-lg-16 mb-10">
        <div class="col-lg-4 col-md-6">
          <div class="postCard-sm">
            <a href="#" class="postCard-sm__img">
              <img
                srcset="https://picsum.photos/459/286"
                alt="post"
                width="459"
                height="286"
                loading="lazy"
              />
              <div
                class="d-flex gap-4 align-items-center position-absolute bottom-0 pb-6 px-6 z-index-2"
              >
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
            </a>

            <div class="postCard-sm__content">
              <a href="#" class="title mb-lg-4 mb-3 d-block hover-outline">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </a>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="postCard-sm">
            <a href="#" class="postCard-sm__img">
              <img
                srcset="https://picsum.photos/459/286"
                alt="post"
                width="459"
                height="286"
                loading="lazy"
              />
              <div
                class="d-flex gap-4 align-items-center position-absolute bottom-0 pb-6 px-6 z-index-2"
              >
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
            </a>

            <div class="postCard-sm__content">
              <a href="#" class="title mb-lg-4 mb-3 d-block hover-outline">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </a>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="postCard-sm">
            <a href="#" class="postCard-sm__img">
              <img
                srcset="https://picsum.photos/459/286"
                alt="post"
                width="459"
                height="286"
                loading="lazy"
              />
              <div
                class="d-flex gap-4 align-items-center position-absolute bottom-0 pb-6 px-6 z-index-2"
              >
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
            </a>

            <div class="postCard-sm__content">
              <a href="#" class="title mb-lg-4 mb-3 d-block hover-outline">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </a>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-lg-16 mb-10">
        <a class="postCard-width" href="#">
          <img
            srcset="https://picsum.photos/1392/444"
            alt="post"
            width="1392"
            height="444"
            loading="lazy"
          />
          <div class="postCard-width__content">
            <div class="d-flex gap-4 align-items-center mb-lg-6 mb-4">
              <div class="tag">Reprezentacia</div>
              <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
            </div>
            <h4 class="title mb-lg-4 mb-3">
              Víťazstvo Michaloviec smerom k semifinálovému derby
            </h4>
            <p class="text-sm-regular">
              Ve středečním zápase se rozhodlo o dalších semifinalistech.
              Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
              Košické Lvi, které se po deseti letech nedostaly do semifinále,
              podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
              Semifinále tak opět přinese vzrušující městské derby.
            </p>
          </div>
        </a>
      </div>

      <div class="row gx-2 gy-6 mb-lg-16 mb-10">
        <div class="col-lg-4 col-md-6">
          <div class="postCard-sm">
            <a href="#" class="postCard-sm__img">
              <img
                srcset="https://picsum.photos/459/286"
                alt="post"
                width="459"
                height="286"
                loading="lazy"
              />
              <div
                class="d-flex gap-4 align-items-center position-absolute bottom-0 pb-6 px-6 z-index-2"
              >
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
            </a>

            <div class="postCard-sm__content">
              <a href="#" class="title mb-lg-4 mb-3 d-block hover-outline">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </a>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="postCard-sm">
            <a href="#" class="postCard-sm__img">
              <img
                srcset="https://picsum.photos/459/286"
                alt="post"
                width="459"
                height="286"
                loading="lazy"
              />
              <div
                class="d-flex gap-4 align-items-center position-absolute bottom-0 pb-6 px-6 z-index-2"
              >
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
            </a>

            <div class="postCard-sm__content">
              <a href="#" class="title mb-lg-4 mb-3 d-block hover-outline">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </a>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="postCard-sm">
            <a href="#" class="postCard-sm__img">
              <img
                srcset="https://picsum.photos/459/286"
                alt="post"
                width="459"
                height="286"
                loading="lazy"
              />
              <div
                class="d-flex gap-4 align-items-center position-absolute bottom-0 pb-6 px-6 z-index-2"
              >
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
            </a>

            <div class="postCard-sm__content">
              <a href="#" class="title mb-lg-4 mb-3 d-block hover-outline">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </a>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row g-2 mb-lg-16 mb-10">
        <div class="col-lg-4 col-md-6">
          <a class="postCard-high" href="#">
            <img
              srcset="https://picsum.photos/478/600"
              alt="post"
              width="478"
              height="600"
              loading="lazy"
            />
            <div class="postCard-md__content">
              <div class="d-flex gap-4 align-items-center mb-lg-6 mb-4">
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
              <h4 class="title mb-lg-4 mb-3">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </h4>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a class="postCard-high" href="#">
            <img
              srcset="https://picsum.photos/478/600"
              alt="post"
              width="478"
              height="600"
              loading="lazy"
            />
            <div class="postCard-md__content">
              <div class="d-flex gap-4 align-items-center mb-lg-6 mb-4">
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
              <h4 class="title mb-lg-4 mb-3">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </h4>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </a>
        </div>
        <div class="col-lg-4 col-md-6">
          <a class="postCard-high" href="#">
            <img
              srcset="https://picsum.photos/478/600"
              alt="post"
              width="478"
              height="600"
              loading="lazy"
            />
            <div class="postCard-md__content">
              <div class="d-flex gap-4 align-items-center mb-lg-6 mb-4">
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
              <h4 class="title mb-lg-4 mb-3">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </h4>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </a>
        </div>
      </div>

      <h6 class="title titleDot text-accent mb-lg-6 mb-4">Krátké zprávy</h6>
      <div class="row g-0 mb-lg-16 mb-10">
        <div class="col-lg-4">
          <div class="newsItem newsItem--decore">
            <div class="font-title text-2xl-semibold text-accent">
              Novic v partě kohoutů: Václav Krliš
            </div>
            <div class="text-xxs-regular text-stroke">10. 10. 2024</div>
            <p class="text-sm-regular text-accent">
              V sobotu dopoledne se táborské hokejové partě dostalo nové posily.
              Máma Štěpánka a otec Václav přivedli do kohoutí družiny jméno,
              které už v ní figuruje: Václav Krliš. Šťastným rodičům i Vencovi
              juniorovi přejeme do dalšího života hodně štěstí, radosti a elánu.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="newsItem newsItem--decore">
            <div class="font-title text-2xl-semibold text-accent">
              Novic v partě kohoutů: Václav Krliš
            </div>
            <div class="text-xxs-regular text-stroke">10. 10. 2024</div>
            <p class="text-sm-regular text-accent">
              V sobotu dopoledne se táborské hokejové partě dostalo nové posily.
              Máma Štěpánka a otec Václav přivedli do kohoutí družiny jméno,
              které už v ní figuruje: Václav Krliš. Šťastným rodičům i Vencovi
              juniorovi přejeme do dalšího života hodně štěstí, radosti a elánu.
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="newsItem newsItem--decore">
            <div class="font-title text-2xl-semibold text-accent">
              Novic v partě kohoutů: Václav Krliš
            </div>
            <div class="text-xxs-regular text-stroke">10. 10. 2024</div>
            <p class="text-sm-regular text-accent">
              V sobotu dopoledne se táborské hokejové partě dostalo nové posily.
              Máma Štěpánka a otec Václav přivedli do kohoutí družiny jméno,
              které už v ní figuruje: Václav Krliš. Šťastným rodičům i Vencovi
              juniorovi přejeme do dalšího života hodně štěstí, radosti a elánu.
            </p>
          </div>
        </div>
      </div>
      <div class="row gx-2 gy-6 mb-lg-16 mb-10">
        <div class="col-lg-4 col-md-6">
          <div class="postCard-sm">
            <a href="#" class="postCard-sm__img">
              <img
                srcset="https://picsum.photos/459/286"
                alt="post"
                width="459"
                height="286"
                loading="lazy"
              />
              <div
                class="d-flex gap-4 align-items-center position-absolute bottom-0 pb-6 px-6 z-index-2"
              >
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
            </a>

            <div class="postCard-sm__content">
              <a href="#" class="title mb-lg-4 mb-3 d-block hover-outline">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </a>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="postCard-sm">
            <a href="#" class="postCard-sm__img">
              <img
                srcset="https://picsum.photos/459/286"
                alt="post"
                width="459"
                height="286"
                loading="lazy"
              />
              <div
                class="d-flex gap-4 align-items-center position-absolute bottom-0 pb-6 px-6 z-index-2"
              >
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
            </a>

            <div class="postCard-sm__content">
              <a href="#" class="title mb-lg-4 mb-3 d-block hover-outline">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </a>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="postCard-sm">
            <a href="#" class="postCard-sm__img">
              <img
                srcset="https://picsum.photos/459/286"
                alt="post"
                width="459"
                height="286"
                loading="lazy"
              />
              <div
                class="d-flex gap-4 align-items-center position-absolute bottom-0 pb-6 px-6 z-index-2"
              >
                <div class="tag">Reprezentacia</div>
                <div class="text-xxs-regular text-inverse">25. 04. 2025</div>
              </div>
            </a>

            <div class="postCard-sm__content">
              <a href="#" class="title mb-lg-4 mb-3 d-block hover-outline">
                Víťazstvo Michaloviec smerom k semifinálovému derby
              </a>
              <p class="text-sm-regular">
                Ve středečním zápase se rozhodlo o dalších semifinalistech.
                Potvrdil svou sílu a potřetí za sebou porazil tým z Bratislavy.
                Košické Lvi, které se po deseti letech nedostaly do semifinále,
                podlehly KP TANY Brno v sérii 0:3, což mnohé překvapilo.
                Semifinále tak opět přinese vzrušující městské derby.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn-primary">Nacist dalsi</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
