.matchBoard {
  position: relative;
  min-height: 13rem;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: auto;
    background: no-repeat center/contain
      url("../images/ico/header-page-light.svg");
    opacity: 0.2;
    height: calc(100% - 48px);
    top: 24px;
    z-index: 1;
    @include media-breakpoint-down(lg) {
      width: 200px;
      height: 170px;
    }
  }
  &__content {
    justify-content: start;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    .text-xs-regular {
      letter-spacing: -0.05em;
    }
  }
  .headerPage {
    justify-content: flex-start;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    width: 100%;
    @include media-breakpoint-down(lg) {
      gap: 24px;
    }
  }
  &__bottom {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.05em;
  }
  &__logo {
    height: 72px;
    width: 72px;
    @include media-breakpoint-down(lg) {
      width: 56px;
      height: 56px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__result {
    font-size: 56px;
    font-weight: 700;
    line-height: 62px;
    font-family: var(--font-display);
    min-width: 120px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: flex-end;
    gap: 8px;
    @include media-breakpoint-down(lg) {
      font-size: 40px;
      line-height: 48px;
      min-width: 80px;
    }
    span {
      font-size: 32px;
      text-transform: uppercase;
      line-height: 40px;
    }
  }
  &__team {
    display: flex;
    align-items: center;
    flex: 0 0 40%;
    max-width: 40%;
    gap: 8px;
    &:first-child {
      justify-content: flex-end;
      text-align: right;
    }
  }
}

.statsGame {
  display: flex;
  align-items: center;
  position: relative;
  gap: 4px;

  &__infoline {
    max-width: 50%;
    flex: 0 0 50%;

    &.zero {
      .statsGame__value {
        width: 0 !important;
        background: none !important;
      }

      .statsGame__line {
        position: relative;
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 8px;
          height: 8px;
          transform: translateY(-50%);
          border-radius: 50%;
          background: var(--color-text-secondary);
        }
      }
    }
    &:first-child .statsGame__line:after {
      right: 0;
      margin-left: auto;
    }
    &:last-child .statsGame__line:after {
      left: 0;
    }
    &.winner {
      .statsGame__number {
        color: var(--color-stroke);
      }
      .statsGame__value {
        background: var(--color-stroke);
      }
    }

    &.loser {
      .statsGame__number {
        color: var(--color-text-secondary);
      }
      .statsGame__value {
        background: var(--color-text-secondary);
      }
    }

    &.equal {
      .statsGame__number {
        color: var(--color-text-secondary);
      }
      .statsGame__value {
        background: var(--color-text-secondary);
      }
    }
  }
  .statsGame__infoline:first-child .statsGame__value {
    margin-left: auto;
  }

  .statsGame__infoline:first-child .statsGame__number {
    text-align: right;
    padding-right: 100px;
  }
  .statsGame__infoline:last-child .statsGame__number {
    padding-left: 100px;
  }
  &__number {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 8px;
    font-family: var(--font-display);
  }
  &__line-title {
    font-size: 20px;
    color: var(--color-text-secondary);
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 8px;
    font-family: var(--font-display);
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  &__line {
    background: var(--color-bg-secondary);
    height: 8px;
    width: 100%;
    overflow: hidden;
    border-radius: 48px;
  }
  &__value {
    height: 100%;
    display: block;
    border-radius: 48px;
  }
}
